<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineDespiteSingleton</key>
	<string>menuPrototypeTheme</string>
	<key>geometricSpineTint</key>
	<string>cartesianRowMode</string>
	<key>interpolationTaskTension</key>
	<string>histogramUntilMemento</string>
	<key>modalDecoratorResponse</key>
	<string>mediocreLabelTheme</string>
	<key>nodeStrategyOrigin</key>
	<string>cubeFunctionSpeed</string>
	<key>offsetOrFacade</key>
	<string>mobileResolverSkewy</string>
	<key>positionPerPhase</key>
	<string>commandMementoLocation</string>
	<key>publicMaterialBound</key>
	<string>referenceJobIndex</string>
	<key>symbolFlyweightBottom</key>
	<string>decorationTaskEdge</string>
	<key>widgetUntilComposite</key>
	<string>resizableRequestFormat</string>
</dict>
</plist>
