<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileBlocOffset</key>
	<string>blocForComposite</string>
	<key>brushNumberDirection</key>
	<string>largePopupTransparency</string>
	<key>crudeAllocatorShade</key>
	<string>lostTimerScale</string>
	<key>graphIncludeTier</key>
	<string>rapidRouteAlignment</string>
	<key>isolateModeName</key>
	<string>layerMethodBehavior</string>
	<key>otherGridviewSkewx</key>
	<string>descriptionBesideObserver</string>
	<key>petCompositeAppearance</key>
	<string>curveStrategyHead</string>
	<key>requiredBehaviorAcceleration</key>
	<string>cellWorkInterval</string>
	<key>routeOrType</key>
	<string>segueByAction</string>
	<key>tickerTaskState</key>
	<string>serviceIncludeForm</string>
</dict>
</plist>
