<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledIconContrast</key>
	<string>permanentStatelessAppearance</string>
	<key>enabledAssetDepth</key>
	<string>layerModeName</string>
	<key>injectionAwayOperation</key>
	<string>subsequentCellFrequency</string>
	<key>layoutFrameworkAlignment</key>
	<string>chapterFromMode</string>
	<key>scaleWithShape</key>
	<string>binaryActionStatus</string>
</dict>
</plist>
