<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeGetxKind</key>
	<string>intensityNearFlyweight</string>
	<key>consultativeStackStyle</key>
	<string>aspectPlatformFlags</string>
	<key>disparateTopicCenter</key>
	<string>effectJobSkewx</string>
	<key>eventOfLayer</key>
	<string>requiredGestureTheme</string>
	<key>keySizedboxFlags</key>
	<string>cubeJobContrast</string>
	<key>specifierTypeAlignment</key>
	<string>semanticsExceptMode</string>
</dict>
</plist>
