<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAsTemple</key>
	<string>curveContainValue</string>
	<key>contractionFunctionInterval</key>
	<string>marginThanCommand</string>
	<key>directlyPreviewTransparency</key>
	<string>sophisticatedPainterVelocity</string>
	<key>hierarchicalMomentumInteraction</key>
	<string>parallelCardSize</string>
	<key>logarithmAtWork</key>
	<string>completionInsideProcess</string>
	<key>opaqueAsyncFormat</key>
	<string>graphAlongChain</string>
	<key>protectedModelResponse</key>
	<string>nativeSubscriptionMargin</string>
	<key>rowCommandOpacity</key>
	<string>globalBoxshadowFeedback</string>
</dict>
</plist>
