<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleOperationLeft</key>
	<string>monsterWithoutVisitor</string>
	<key>inactiveAspectSpeed</key>
	<string>apertureOutsideStructure</string>
	<key>integerByMemento</key>
	<string>firstRectTension</string>
	<key>referenceCompositeTop</key>
	<string>sequentialPresenterPadding</string>
	<key>sequentialPlaybackTheme</key>
	<string>histogramStateCount</string>
	<key>tappableBaseDensity</key>
	<string>animationTempleInset</string>
</dict>
</plist>
