<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paddingAroundPrototype</key>
	<string>presenterThanScope</string>
	<key>persistentButtonName</key>
	<string>exceptionCompositeBottom</string>
	<key>temporaryActivityOffset</key>
	<string>greatChartDirection</string>
	<key>tensorTopicBorder</key>
	<string>providerWithPhase</string>
	<key>threadWithOperation</key>
	<string>activatedConstraintType</string>
</dict>
</plist>
