<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAwayBridge</key>
	<string>reductionParamCount</string>
	<key>compositionCommandBound</key>
	<string>routerExceptTask</string>
	<key>enabledMissionBound</key>
	<string>monsterChainIndex</string>
	<key>firstSineDuration</key>
	<string>futureFrameworkFormat</string>
	<key>labelAtChain</key>
	<string>compositionalCertificateInteraction</string>
	<key>persistentArithmeticCount</key>
	<string>singlePetType</string>
	<key>requiredWidgetState</key>
	<string>spineStageFrequency</string>
	<key>routerOfProcess</key>
	<string>particleShapeHue</string>
	<key>similarTextfieldDensity</key>
	<string>immutableFutureVisible</string>
	<key>stateWithoutForm</key>
	<string>presenterEnvironmentDistance</string>
</dict>
</plist>
