<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderSinceMemento</key>
	<string>sustainableChannelVisibility</string>
	<key>dialogsPrototypeHead</key>
	<string>widgetPatternLocation</string>
	<key>exceptionPatternHead</key>
	<string>similarCursorMode</string>
	<key>signatureAtEnvironment</key>
	<string>diffableUsecaseBottom</string>
	<key>techniqueAndStyle</key>
	<string>textFacadeKind</string>
</dict>
</plist>
