<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSinkContrast</key>
	<string>catalystSystemBorder</string>
	<key>assetNearStage</key>
	<string>chapterLayerSpacing</string>
	<key>cupertinoZoneVelocity</key>
	<string>diversifiedStatelessCoord</string>
	<key>dependencyInsideVar</key>
	<string>lossTierTheme</string>
	<key>dimensionJobBottom</key>
	<string>customizedGridOpacity</string>
	<key>easyAssetOffset</key>
	<string>asyncParameterRight</string>
	<key>nodeDespiteParam</key>
	<string>intensityThroughWork</string>
	<key>observerVisitorName</key>
	<string>storeAgainstValue</string>
	<key>rectUntilVar</key>
	<string>entityWithoutCycle</string>
	<key>respectiveTickerMode</key>
	<string>directDescriptionVisible</string>
</dict>
</plist>
