<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSwiftBottom</key>
	<string>equalizationStyleBorder</string>
	<key>bufferBufferEdge</key>
	<string>mobileInParam</string>
	<key>imageFacadePosition</key>
	<string>animatedBitrateShade</string>
	<key>interactiveOptimizerPosition</key>
	<string>scrollAdapterType</string>
	<key>taskBufferRate</key>
	<string>rowInScope</string>
	<key>widgetFromMemento</key>
	<string>iconPrototypeShade</string>
</dict>
</plist>
