<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMonsterSpacing</key>
	<string>textStructureBrightness</string>
	<key>commonBinaryCoord</key>
	<string>responsiveSubpixelOrientation</string>
	<key>entityTaskBehavior</key>
	<string>queueCycleInteraction</string>
	<key>gateNearLevel</key>
	<string>sensorActionMomentum</string>
	<key>gemTierOpacity</key>
	<string>constraintMediatorForce</string>
	<key>interpolationInsideWork</key>
	<string>alphaSystemCenter</string>
	<key>segmentUntilDecorator</key>
	<string>boxMementoDuration</string>
	<key>shaderPrototypeShade</key>
	<string>gradientFromProxy</string>
	<key>sizeLikeParam</key>
	<string>resizableDurationSize</string>
	<key>topicProxyStatus</key>
	<string>crucialChecklistTail</string>
</dict>
</plist>
