<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelProxyContrast</key>
	<string>popupMementoType</string>
	<key>fusedAllocatorSize</key>
	<string>cacheFromInterpreter</string>
	<key>fusedChecklistScale</key>
	<string>publicNormDuration</string>
	<key>futureOrPrototype</key>
	<string>standaloneMobxDensity</string>
</dict>
</plist>
