<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityOrSingleton</key>
	<string>storageProxyDistance</string>
	<key>controllerWithBridge</key>
	<string>publicChallengeShade</string>
	<key>errorExceptDecorator</key>
	<string>liteUsageOrientation</string>
	<key>otherBufferBrightness</key>
	<string>imperativeFeatureIndex</string>
	<key>radioParameterPosition</key>
	<string>enabledChannelTheme</string>
	<key>threadDuringComposite</key>
	<string>checkboxAgainstInterpreter</string>
</dict>
</plist>
