<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoLoopStatus</key>
	<string>pivotalTextName</string>
	<key>comprehensiveNodeTension</key>
	<string>nibBridgeName</string>
	<key>coordinatorBesideProcess</key>
	<string>difficultPositionedHead</string>
	<key>dimensionAndFlyweight</key>
	<string>graphWithoutShape</string>
	<key>navigatorFlyweightBorder</key>
	<string>providerAroundMediator</string>
	<key>optionActionShape</key>
	<string>captionFacadeCenter</string>
	<key>playbackParameterStatus</key>
	<string>indicatorContextRotation</string>
</dict>
</plist>
