<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAroundValue</key>
	<string>promiseLikeTemple</string>
	<key>futureProxyCoord</key>
	<string>resizableDelegateLeft</string>
	<key>notificationCompositeTheme</key>
	<string>sharedGetxHead</string>
	<key>numericalHistogramBorder</key>
	<string>functionalLayerStatus</string>
	<key>reusableIntensitySpeed</key>
	<string>optionPerVar</string>
	<key>statelessFlexVisible</key>
	<string>tangentLevelHead</string>
</dict>
</plist>
