<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSpotVisible</key>
	<string>visibleStampBorder</string>
	<key>awaitPhaseVelocity</key>
	<string>capacitiesViaShape</string>
	<key>entropyContainMediator</key>
	<string>previewWithoutJob</string>
	<key>giftBesideMethod</key>
	<string>transformerUntilSystem</string>
	<key>semanticProgressbarName</key>
	<string>sliderModeTransparency</string>
	<key>sliderDespiteParam</key>
	<string>modalActivityPadding</string>
	<key>stateThanInterpreter</key>
	<string>dependencyProcessTail</string>
	<key>toolLayerBrightness</key>
	<string>intensityWithoutCommand</string>
</dict>
</plist>
