<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertInterpreterLeft</key>
	<string>blocAwayVariable</string>
	<key>configurationForForm</key>
	<string>curveLikeLevel</string>
	<key>effectModeFeedback</key>
	<string>delegateForScope</string>
	<key>hashByProcess</key>
	<string>criticalRowTransparency</string>
	<key>interactorStageVelocity</key>
	<string>nodeEnvironmentOpacity</string>
	<key>routerKindSkewy</key>
	<string>dimensionStyleScale</string>
	<key>specifyVectorMargin</key>
	<string>exceptionWithParam</string>
	<key>stateContainJob</key>
	<string>contractionSinceJob</string>
	<key>topicStructureTag</key>
	<string>consumerForPrototype</string>
</dict>
</plist>
