<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInsideCommand</key>
	<string>functionalPageviewShade</string>
	<key>concreteModalTail</key>
	<string>frameStructureMode</string>
	<key>finalSizeValidation</key>
	<string>effectMediatorName</string>
	<key>frameThroughActivity</key>
	<string>borderDespiteValue</string>
	<key>grainBufferTop</key>
	<string>dedicatedUnarySpeed</string>
	<key>multiConstraintSize</key>
	<string>serviceKindInset</string>
	<key>permissiveArithmeticTop</key>
	<string>staticTextureHead</string>
	<key>sizedboxFrameworkFlags</key>
	<string>textJobOrigin</string>
	<key>transitionContainVariable</key>
	<string>particleStageTag</string>
	<key>usedSampleIndex</key>
	<string>storageValueSaturation</string>
</dict>
</plist>
