<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDescriptionBottom</key>
	<string>dimensionShapeAppearance</string>
	<key>boxshadowFunctionSpacing</key>
	<string>missedHashLeft</string>
	<key>constCertificateContrast</key>
	<string>grainSinceKind</string>
	<key>gridViaParam</key>
	<string>resourceStagePressure</string>
	<key>notifierBridgeInteraction</key>
	<string>blocInterpreterAppearance</string>
	<key>similarSpecifierState</key>
	<string>cubitJobOffset</string>
	<key>tweenLayerBorder</key>
	<string>subsequentMatrixDistance</string>
</dict>
</plist>
