<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGradientAcceleration</key>
	<string>gridviewProxyEdge</string>
	<key>callbackSingletonTheme</key>
	<string>publicDescriptionMode</string>
	<key>consultativeModulusMargin</key>
	<string>capacitiesAtFramework</string>
	<key>crudeTransitionDuration</key>
	<string>allocatorTypeDelay</string>
	<key>labelDespiteScope</key>
	<string>kernelPlatformSaturation</string>
	<key>typicalSingletonResponse</key>
	<string>captionBeyondShape</string>
	<key>usageFunctionContrast</key>
	<string>rapidTweenSpacing</string>
</dict>
</plist>
