<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSampleStyle</key>
	<string>currentAlignmentResponse</string>
	<key>handlerInterpreterTag</key>
	<string>substantialGraphicSize</string>
	<key>popupScopeRate</key>
	<string>behaviorFacadeInterval</string>
	<key>singletonBesideActivity</key>
	<string>riverpodProxySpacing</string>
	<key>tabviewWithLayer</key>
	<string>injectionAroundState</string>
	<key>unactivatedMapAlignment</key>
	<string>menuAdapterTop</string>
</dict>
</plist>
