<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDecorationBorder</key>
	<string>spriteCycleInteraction</string>
	<key>borderPatternOffset</key>
	<string>riverpodShapeOffset</string>
	<key>gridContextTint</key>
	<string>draggableBaseVisibility</string>
	<key>primaryBuilderTheme</key>
	<string>buttonModeOpacity</string>
	<key>resourceDuringTier</key>
	<string>accordionConsumerTag</string>
	<key>secondRequestType</key>
	<string>graphicByState</string>
	<key>singletonCycleTheme</key>
	<string>descriptionAtKind</string>
	<key>smallStoreStyle</key>
	<string>sinkTierTension</string>
	<key>unactivatedConstraintMomentum</key>
	<string>resizableCurveEdge</string>
	<key>uniqueSpotIndex</key>
	<string>tensorSpotLocation</string>
</dict>
</plist>
