<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAwayAdapter</key>
	<string>tappableAspectHead</string>
	<key>backwardMemberLeft</key>
	<string>temporaryMultiplicationPressure</string>
	<key>completionMethodTail</key>
	<string>immediateImageTag</string>
	<key>eventProcessResponse</key>
	<string>variantWithFlyweight</string>
	<key>fragmentAlongLevel</key>
	<string>gemVarSpeed</string>
	<key>invisibleScrollBorder</key>
	<string>materialLikeLayer</string>
	<key>lazyLocalizationTension</key>
	<string>resizableObserverScale</string>
	<key>utilAlongCycle</key>
	<string>backwardGrainContrast</string>
</dict>
</plist>
