<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicRectBehavior</key>
	<string>configurationMementoVelocity</string>
	<key>logNearForm</key>
	<string>tangentStageTransparency</string>
	<key>originalDurationDelay</key>
	<string>cupertinoDecoratorHue</string>
	<key>toolLikeOperation</key>
	<string>inactiveIconKind</string>
	<key>widgetByBuffer</key>
	<string>difficultResolverBottom</string>
</dict>
</plist>
