<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureProxyRight</key>
	<string>concurrentFlexDuration</string>
	<key>chartMediatorLeft</key>
	<string>awaitDuringState</string>
	<key>singletonPrototypeLocation</key>
	<string>listviewThanInterpreter</string>
	<key>sizedboxFlyweightName</key>
	<string>projectionPrototypeFeedback</string>
	<key>unaryBesideContext</key>
	<string>mobxPhaseTransparency</string>
</dict>
</plist>
