<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultHeapAcceleration</key>
	<string>symmetricAsyncHead</string>
	<key>diversifiedPopupOrientation</key>
	<string>responseAmongSingleton</string>
	<key>gemDuringValue</key>
	<string>managerVariableOrigin</string>
	<key>riverpodIncludeMethod</key>
	<string>activeCallbackType</string>
	<key>tensorRouterIndex</key>
	<string>dropdownbuttonAwayPhase</string>
</dict>
</plist>
