<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsBridgeName</key>
	<string>decorationAndAdapter</string>
	<key>composableSinkScale</key>
	<string>awaitAsPrototype</string>
	<key>effectThanVariable</key>
	<string>slashPrototypeStatus</string>
	<key>histogramAlongSystem</key>
	<string>dependencyStatePressure</string>
	<key>layerContextAlignment</key>
	<string>reactiveExtensionDirection</string>
	<key>localCapacitiesMomentum</key>
	<string>logarithmVisitorTag</string>
	<key>presenterBesideInterpreter</key>
	<string>exceptionVarPressure</string>
	<key>reducerLikeStrategy</key>
	<string>coordinatorPerValue</string>
</dict>
</plist>
