<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeNumberEdge</key>
	<string>imageModeStatus</string>
	<key>entropyWithoutPattern</key>
	<string>checklistBufferState</string>
	<key>gemMementoTag</key>
	<string>textureChainVelocity</string>
	<key>instructionMethodFormat</key>
	<string>animationVarFeedback</string>
	<key>layerFrameworkRight</key>
	<string>handlerProcessContrast</string>
</dict>
</plist>
