<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFrameworkRotation</key>
	<string>contractionMediatorSize</string>
	<key>behaviorTempleInset</key>
	<string>usecaseIncludeCycle</string>
	<key>grainExceptVariable</key>
	<string>curveNumberResponse</string>
	<key>rapidCoordinatorVisibility</key>
	<string>resolverBesideBridge</string>
	<key>standaloneSessionCount</key>
	<string>callbackProxyFeedback</string>
	<key>synchronousIndicatorVisible</key>
	<string>callbackStrategyForce</string>
	<key>titleMementoSize</key>
	<string>layoutViaInterpreter</string>
</dict>
</plist>
