<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioParameterSkewy</key>
	<string>repositoryVariableSkewx</string>
	<key>delicateListenerValidation</key>
	<string>alertParamInteraction</string>
	<key>independentPositionTop</key>
	<string>allocatorAndCommand</string>
	<key>invisibleCurveLocation</key>
	<string>inkwellThroughInterpreter</string>
	<key>priorityBridgeLeft</key>
	<string>immediateSubpixelVisible</string>
	<key>similarTextEdge</key>
	<string>constraintAwayContext</string>
	<key>specifyStatelessSize</key>
	<string>routerViaStage</string>
</dict>
</plist>
