<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedNavigatorHue</key>
	<string>callbackAmongProxy</string>
	<key>asyncFunctionLeft</key>
	<string>contractionAndBridge</string>
	<key>commandAboutBuffer</key>
	<string>topicLayerPosition</string>
	<key>curveTypeSaturation</key>
	<string>bitrateActionAlignment</string>
	<key>localizationInFunction</key>
	<string>navigatorNearValue</string>
	<key>loopAmongTask</key>
	<string>layerPerShape</string>
	<key>shaderNumberStatus</key>
	<string>aspectratioThanStructure</string>
	<key>spriteSingletonPadding</key>
	<string>textModeBorder</string>
	<key>synchronousOffsetAcceleration</key>
	<string>containerParameterDistance</string>
	<key>unaryUntilStructure</key>
	<string>viewModeBottom</string>
</dict>
</plist>
