<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionContainNumber</key>
	<string>observerDuringLevel</string>
	<key>dropdownbuttonBesideTask</key>
	<string>usageInsideComposite</string>
	<key>granularRouteDelay</key>
	<string>usecaseCompositeRotation</string>
	<key>mediaBesideActivity</key>
	<string>flexibleTimerAcceleration</string>
	<key>mutableBoxshadowOpacity</key>
	<string>errorWithSystem</string>
	<key>newestConvolutionTint</key>
	<string>responsiveOverlayFormat</string>
	<key>pinchableRouterDirection</key>
	<string>otherNodeStyle</string>
	<key>popupWithAction</key>
	<string>desktopCupertinoTension</string>
	<key>viewAmongJob</key>
	<string>fixedRouteDensity</string>
</dict>
</plist>
