<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customLogHue</key>
	<string>multiServiceTint</string>
	<key>routeMediatorState</key>
	<string>richtextSystemMargin</string>
	<key>signVisitorVisible</key>
	<string>cosineChainVisible</string>
	<key>singletonFrameworkFormat</key>
	<string>alphaAtShape</string>
</dict>
</plist>
