<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTaskForce</key>
	<string>usedMasterInterval</string>
	<key>inheritedTextureRate</key>
	<string>positionOperationBehavior</string>
	<key>injectionProxyCoord</key>
	<string>presenterAtBridge</string>
	<key>integerAroundParam</key>
	<string>characterThanPlatform</string>
	<key>sequentialPopupOrigin</key>
	<string>sliderDespiteLevel</string>
	<key>stackMethodTag</key>
	<string>subsequentAlignmentOpacity</string>
</dict>
</plist>
