<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOrBuffer</key>
	<string>metadataAmongPhase</string>
	<key>effectSystemRate</key>
	<string>missedCompositionRight</string>
	<key>flexPerActivity</key>
	<string>iterativeMediaqueryRight</string>
	<key>lossMethodCoord</key>
	<string>expandedViaStrategy</string>
	<key>pinchableGiftSpeed</key>
	<string>richtextObserverInset</string>
	<key>previewOrTask</key>
	<string>semanticsVersusStyle</string>
	<key>previewWithoutForm</key>
	<string>significantAssetState</string>
	<key>reducerVariableDuration</key>
	<string>animationOfProcess</string>
	<key>sampleLikeLayer</key>
	<string>timerAwayMediator</string>
</dict>
</plist>
