<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSymbolTension</key>
	<string>usedMultiplicationInterval</string>
	<key>arithmeticTimerFlags</key>
	<string>errorMediatorInterval</string>
	<key>convolutionNumberTint</key>
	<string>sequentialBorderRate</string>
	<key>discardedTimerPressure</key>
	<string>sharedPainterPressure</string>
	<key>functionalSegueRate</key>
	<string>sinkVariableFormat</string>
	<key>gramWithInterpreter</key>
	<string>sharedParticleVelocity</string>
	<key>oldManagerVisible</key>
	<string>gridActionFrequency</string>
</dict>
</plist>
