<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPrototypeEdge</key>
	<string>mobileArithmeticIndex</string>
	<key>dedicatedObserverLeft</key>
	<string>modelWithNumber</string>
	<key>diffableCoordinatorSkewy</key>
	<string>streamStyleResponse</string>
	<key>factorySystemResponse</key>
	<string>prevCoordinatorTail</string>
	<key>graphThroughParam</key>
	<string>interactiveSingletonSpacing</string>
	<key>scrollDuringType</key>
	<string>grainInterpreterValidation</string>
</dict>
</plist>
