<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticProgressbarBound</key>
	<string>alignmentTaskKind</string>
	<key>desktopStreamDepth</key>
	<string>methodProxyName</string>
	<key>gestureInForm</key>
	<string>pageviewAboutMethod</string>
	<key>interactiveOptimizerFormat</key>
	<string>granularDialogsAcceleration</string>
	<key>presenterValueTop</key>
	<string>sessionSinceComposite</string>
	<key>sizedboxPerPrototype</key>
	<string>hyperbolicClipperOffset</string>
	<key>textStructureSkewy</key>
	<string>managerCompositeDepth</string>
	<key>unsortedListenerBottom</key>
	<string>constTimerTag</string>
	<key>viewModeName</key>
	<string>contractionAtTask</string>
	<key>widgetVarDuration</key>
	<string>managerDespiteMethod</string>
</dict>
</plist>
