<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentActionBottom</key>
	<string>protectedVariantDirection</string>
	<key>geometricInterfaceBound</key>
	<string>tangentOfProxy</string>
	<key>mapContextSpacing</key>
	<string>chapterNearFacade</string>
	<key>persistentMatrixDirection</key>
	<string>errorNearMethod</string>
	<key>riverpodBridgeAppearance</key>
	<string>allocatorVariableRotation</string>
	<key>routerViaLevel</key>
	<string>resourceParameterRight</string>
</dict>
</plist>
