<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAwayJob</key>
	<string>resizableConstraintShade</string>
	<key>batchPerScope</key>
	<string>repositoryStructureCoord</string>
	<key>navigatorTierVisibility</key>
	<string>repositoryVersusProcess</string>
	<key>positionNumberTransparency</key>
	<string>curveStageInterval</string>
	<key>stepStyleContrast</key>
	<string>characterThanVisitor</string>
	<key>synchronousMobxBound</key>
	<string>builderLevelMomentum</string>
	<key>textureSinceParam</key>
	<string>largeStateColor</string>
</dict>
</plist>
