<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderThroughState</key>
	<string>boxshadowParameterTop</string>
	<key>controllerDespiteForm</key>
	<string>brushMementoMargin</string>
	<key>controllerEnvironmentEdge</key>
	<string>seamlessCoordinatorFlags</string>
	<key>fixedMethodEdge</key>
	<string>lossContextInterval</string>
	<key>gateAdapterMomentum</key>
	<string>equipmentNumberSpeed</string>
	<key>gramAmongDecorator</key>
	<string>optionLevelInset</string>
	<key>parallelFragmentVisibility</key>
	<string>consultativeTopicFeedback</string>
	<key>robustTopicVisible</key>
	<string>nodeContainVariable</string>
	<key>serviceFunctionLocation</key>
	<string>fusedCapsuleScale</string>
	<key>spotVariableOrientation</key>
	<string>observerByForm</string>
</dict>
</plist>
