<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousResourceStatus</key>
	<string>resultVarScale</string>
	<key>errorExceptForm</key>
	<string>cartesianLocalizationFeedback</string>
	<key>singleCurveShade</key>
	<string>nativeBitrateFrequency</string>
	<key>statelessPlatformDistance</key>
	<string>challengeIncludeChain</string>
</dict>
</plist>
