<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventCommandCount</key>
	<string>cycleFunctionInterval</string>
	<key>navigationKindStyle</key>
	<string>riverpodBufferFrequency</string>
	<key>presenterAndAction</key>
	<string>rowThanVariable</string>
	<key>textureStyleFeedback</key>
	<string>mediocreCycleOrigin</string>
</dict>
</plist>
