<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBesideFramework</key>
	<string>serviceContainJob</string>
	<key>arithmeticCoordinatorInterval</key>
	<string>semanticStackDuration</string>
	<key>builderStageSkewx</key>
	<string>builderFormBehavior</string>
	<key>discardedAxisRight</key>
	<string>errorSystemSkewy</string>
	<key>diversifiedMomentumBottom</key>
	<string>curveFrameworkDirection</string>
	<key>labelBesideActivity</key>
	<string>documentAroundCommand</string>
	<key>largeThreadFrequency</key>
	<string>textfieldProcessKind</string>
	<key>menuContainDecorator</key>
	<string>statelessScaffoldDirection</string>
	<key>responseObserverMomentum</key>
	<string>exceptionWorkVelocity</string>
</dict>
</plist>
