<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeConsumerDuration</key>
	<string>checklistSinceBuffer</string>
	<key>notificationCompositeDensity</key>
	<string>spriteAroundScope</string>
	<key>pinchableUsecaseRight</key>
	<string>symmetricHistogramKind</string>
	<key>richtextCompositeFlags</key>
	<string>mediocreBuilderShade</string>
	<key>sinkTaskFeedback</key>
	<string>completerAlongTemple</string>
	<key>variantAdapterEdge</key>
	<string>painterAsLayer</string>
</dict>
</plist>
