<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationSingletonSpacing</key>
	<string>resolverCompositeIndex</string>
	<key>gridStyleDirection</key>
	<string>consumerOfBuffer</string>
	<key>handlerSingletonBorder</key>
	<string>streamAroundVar</string>
	<key>normAroundForm</key>
	<string>presenterStructureTop</string>
	<key>offsetFunctionCoord</key>
	<string>rectObserverFlags</string>
	<key>persistentRouteRight</key>
	<string>allocatorDespiteVisitor</string>
	<key>titleWorkAppearance</key>
	<string>activeMemberTag</string>
</dict>
</plist>
