<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartStrategyFeedback</key>
	<string>animationAdapterOrigin</string>
	<key>completerAlongComposite</key>
	<string>columnNumberShade</string>
	<key>completionLevelEdge</key>
	<string>keyAsyncTransparency</string>
	<key>expandedSingletonDirection</key>
	<string>intermediateTickerSkewx</string>
	<key>greatEffectPadding</key>
	<string>textfieldOutsideActivity</string>
	<key>indicatorOutsideMode</key>
	<string>configurationThanParam</string>
	<key>labelContextAppearance</key>
	<string>interfaceInsideState</string>
	<key>missedConsumerBorder</key>
	<string>sizeIncludeKind</string>
	<key>sliderBufferValidation</key>
	<string>visibleLayerOffset</string>
	<key>uniformFeatureCount</key>
	<string>accordionBlocDelay</string>
</dict>
</plist>
