<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocMementoSpacing</key>
	<string>signatureShapeRight</string>
	<key>difficultParticleFrequency</key>
	<string>heapContainKind</string>
	<key>hardResponseDistance</key>
	<string>serviceStateIndex</string>
	<key>keyNavigationMode</key>
	<string>granularBoxOrigin</string>
	<key>menuTempleDepth</key>
	<string>descriptionPhaseValidation</string>
	<key>navigatorStateForce</key>
	<string>boxExceptWork</string>
	<key>requiredMediaqueryStatus</key>
	<string>sortedIsolateTail</string>
</dict>
</plist>
