<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionCycleIndex</key>
	<string>logPerCommand</string>
	<key>challengeDespiteAdapter</key>
	<string>completerVariableKind</string>
	<key>decorationMementoOrientation</key>
	<string>advancedChartTint</string>
	<key>eventByPhase</key>
	<string>smallProjectionForce</string>
	<key>inactiveErrorSpacing</key>
	<string>batchFrameworkHead</string>
	<key>normalViewPadding</key>
	<string>animationExceptMemento</string>
	<key>radioStageKind</key>
	<string>certificateLikeNumber</string>
	<key>resizableResultLocation</key>
	<string>resultPatternBottom</string>
	<key>responsiveMemberShade</key>
	<string>prevMatrixColor</string>
	<key>sizeFrameworkTension</key>
	<string>methodKindSize</string>
</dict>
</plist>
