<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeViewVelocity</key>
	<string>clipperDuringMethod</string>
	<key>effectAgainstVar</key>
	<string>crucialServiceDuration</string>
	<key>interpolationLayerCount</key>
	<string>accessoryObserverMode</string>
	<key>nibAwayEnvironment</key>
	<string>missionSystemOffset</string>
	<key>painterAmongChain</key>
	<string>sinkExceptMemento</string>
	<key>sophisticatedLossHead</key>
	<string>monsterMementoBorder</string>
	<key>texturePerInterpreter</key>
	<string>lostMovementPadding</string>
</dict>
</plist>
