<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineOutsideJob</key>
	<string>modulusContainShape</string>
	<key>concreteBinaryPosition</key>
	<string>geometricAwaitDistance</string>
	<key>granularTweenOrientation</key>
	<string>decorationProcessCoord</string>
	<key>permissiveWidgetOrigin</key>
	<string>exponentNearKind</string>
	<key>protectedPromiseDensity</key>
	<string>metadataModeTop</string>
	<key>storyboardFrameworkDistance</key>
	<string>roleOutsideFramework</string>
</dict>
</plist>
