<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineDecoratorTag</key>
	<string>extensionBufferInteraction</string>
	<key>batchOfForm</key>
	<string>referenceBesideStructure</string>
	<key>descriptorIncludeMode</key>
	<string>factoryLevelOrientation</string>
	<key>invisibleIndicatorInset</key>
	<string>positionProxyLeft</string>
	<key>metadataWithoutLayer</key>
	<string>boxParameterResponse</string>
	<key>momentumAtObserver</key>
	<string>permanentTextCenter</string>
	<key>transformerOutsideTask</key>
	<string>positionSinceTier</string>
</dict>
</plist>
