<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveExceptionVisible</key>
	<string>explicitFlexOrientation</string>
	<key>coordinatorAsParameter</key>
	<string>lastEntropyLocation</string>
	<key>materialDespiteActivity</key>
	<string>progressbarAwayVar</string>
	<key>projectionThroughMemento</key>
	<string>beginnerApertureHead</string>
	<key>rowForNumber</key>
	<string>singleCubitTransparency</string>
	<key>storageFunctionOrientation</key>
	<string>intensityNumberDirection</string>
</dict>
</plist>
