<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedStorageVisible</key>
	<string>grainBesideTask</string>
	<key>expandedAboutTier</key>
	<string>timerExceptMethod</string>
	<key>interfaceTypeTint</key>
	<string>inheritedMissionTension</string>
	<key>intuitivePreviewMargin</key>
	<string>elasticContainerOffset</string>
	<key>sceneLikeWork</key>
	<string>invisibleCellBorder</string>
</dict>
</plist>
