<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPlaybackInteraction</key>
	<string>sinkTypeContrast</string>
	<key>lastFrameResponse</key>
	<string>popupEnvironmentForce</string>
	<key>localizationValueTag</key>
	<string>viewAtSingleton</string>
	<key>opaqueUtilValidation</key>
	<string>callbackBesideCycle</string>
	<key>permissiveGramForce</key>
	<string>compositionOrProcess</string>
	<key>plateEnvironmentStatus</key>
	<string>blocAgainstEnvironment</string>
	<key>sophisticatedGesturedetectorName</key>
	<string>dependencyWithStyle</string>
</dict>
</plist>
