<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsViaStructure</key>
	<string>tweenFrameworkInteraction</string>
	<key>heroJobAppearance</key>
	<string>otherChecklistPosition</string>
	<key>modalPhaseRight</key>
	<string>canvasPlatformTail</string>
	<key>navigatorDuringParam</key>
	<string>immutableContractionType</string>
	<key>primaryLossName</key>
	<string>tweenStyleInteraction</string>
	<key>rapidAccessoryTheme</key>
	<string>hashDecoratorBehavior</string>
	<key>spotBridgeVisibility</key>
	<string>decorationAsTier</string>
	<key>touchAgainstSystem</key>
	<string>hardCatalystResponse</string>
</dict>
</plist>
