<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedParticleLocation</key>
	<string>menuFormBound</string>
	<key>animatedcontainerPatternShape</key>
	<string>robustGraphMomentum</string>
	<key>cursorFlyweightAppearance</key>
	<string>overlayPerComposite</string>
	<key>inheritedSpineFormat</key>
	<string>dropdownbuttonSinceVariable</string>
	<key>observerTempleTail</key>
	<string>sessionWithoutFlyweight</string>
	<key>resourceSingletonBorder</key>
	<string>criticalSpotInset</string>
	<key>routeOrMethod</key>
	<string>basicMapLeft</string>
	<key>skirtIncludeTemple</key>
	<string>gestureIncludeMemento</string>
	<key>titleParamVisibility</key>
	<string>topicThanBuffer</string>
	<key>widgetVarDuration</key>
	<string>painterTempleOpacity</string>
</dict>
</plist>
