<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionInterpreterSkewy</key>
	<string>pivotalChannelValidation</string>
	<key>draggableSegueMomentum</key>
	<string>geometricInstructionAppearance</string>
	<key>equalizationPlatformAlignment</key>
	<string>arithmeticErrorOpacity</string>
	<key>integerUntilChain</key>
	<string>binarySingletonSkewx</string>
	<key>requiredSizeVelocity</key>
	<string>metadataTaskValidation</string>
	<key>typicalPreviewTheme</key>
	<string>exceptionOperationFeedback</string>
</dict>
</plist>
