<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonOperationShade</key>
	<string>parallelCallbackSkewx</string>
	<key>imageFacadeState</key>
	<string>roleCycleOrigin</string>
	<key>immutableIsolateSize</key>
	<string>queueFacadeBehavior</string>
	<key>materialEnvironmentState</key>
	<string>lossAmongDecorator</string>
	<key>methodInsideDecorator</key>
	<string>signThanPhase</string>
	<key>modelVarStatus</key>
	<string>discardedEntityBehavior</string>
	<key>progressbarAgainstMode</key>
	<string>pageviewBufferTag</string>
	<key>providerContainPrototype</key>
	<string>composableSceneSize</string>
	<key>symbolLayerTail</key>
	<string>concurrentPopupTension</string>
	<key>transitionPerScope</key>
	<string>compositionalSessionDuration</string>
</dict>
</plist>
