<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushContainValue</key>
	<string>subscriptionThroughPhase</string>
	<key>isolateVersusActivity</key>
	<string>functionalObserverTint</string>
	<key>operationFromSingleton</key>
	<string>custompaintContainAction</string>
	<key>reducerWithoutLayer</key>
	<string>singletonOfVisitor</string>
	<key>requiredNavigationShape</key>
	<string>topicActivitySize</string>
</dict>
</plist>
