<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAlongMode</key>
	<string>crudeProviderScale</string>
	<key>alertModeResponse</key>
	<string>sizeOperationHead</string>
	<key>errorAmongActivity</key>
	<string>draggableRemainderHue</string>
	<key>ignoredMovementFlags</key>
	<string>granularGiftDistance</string>
	<key>pivotalIndicatorOrigin</key>
	<string>memberByValue</string>
	<key>semanticsAmongShape</key>
	<string>containerByMemento</string>
	<key>singleLabelSpacing</key>
	<string>spritePlatformSpeed</string>
	<key>sizedboxByMode</key>
	<string>currentScaleTail</string>
	<key>statelessFrameVisibility</key>
	<string>configurationCycleVisible</string>
	<key>unsortedAnimationOpacity</key>
	<string>projectionSingletonShade</string>
</dict>
</plist>
