<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetPerMode</key>
	<string>textOperationBottom</string>
	<key>asyncReducerDepth</key>
	<string>challengeKindFrequency</string>
	<key>customizedBrushRight</key>
	<string>activitySinceParameter</string>
	<key>decorationFormResponse</key>
	<string>equalizationValueOrientation</string>
	<key>expandedExceptFlyweight</key>
	<string>requiredDependencySkewx</string>
	<key>missionSystemOrientation</key>
	<string>rapidDialogsLocation</string>
	<key>radiusTypeSaturation</key>
	<string>spriteInContext</string>
	<key>secondCupertinoShade</key>
	<string>otherFutureVisible</string>
	<key>statefulActionAlignment</key>
	<string>segmentThroughObserver</string>
	<key>tabviewSinceMode</key>
	<string>segueDespiteAction</string>
</dict>
</plist>
