<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionOfTask</key>
	<string>statefulBeyondSystem</string>
	<key>eventWithoutStage</key>
	<string>storeCommandTint</string>
	<key>symbolPhasePressure</key>
	<string>listviewPhaseCount</string>
</dict>
</plist>
