<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAppbarDelay</key>
	<string>dedicatedSpecifierKind</string>
	<key>asyncExceptMethod</key>
	<string>compositionVariableKind</string>
	<key>deferredTaskFeedback</key>
	<string>signMethodFeedback</string>
	<key>delicateBrushFormat</key>
	<string>transitionSystemOrigin</string>
	<key>directlyDurationStyle</key>
	<string>cosineCycleType</string>
	<key>effectThanScope</key>
	<string>customizedResultRate</string>
	<key>interactiveGemOrigin</key>
	<string>providerWithoutEnvironment</string>
	<key>reusableObserverTop</key>
	<string>spriteEnvironmentTint</string>
	<key>sizedboxTaskPressure</key>
	<string>shaderVersusInterpreter</string>
</dict>
</plist>
