<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertThroughScope</key>
	<string>accessoryAroundVar</string>
	<key>checklistLikeInterpreter</key>
	<string>iterativeNavigatorSpacing</string>
	<key>materialShaderSkewx</key>
	<string>layoutPhaseBound</string>
	<key>retainedBoxshadowSkewy</key>
	<string>menuWithTemple</string>
	<key>serviceBesideBridge</key>
	<string>dialogsDespiteEnvironment</string>
	<key>storeBridgeTheme</key>
	<string>binaryFromState</string>
</dict>
</plist>
