<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missedSpotSaturation</key>
	<string>textBeyondSystem</string>
	<key>priorityVersusPrototype</key>
	<string>immediateTextureCoord</string>
	<key>screenBesideProxy</key>
	<string>customCapacitiesTop</string>
	<key>sizedboxObserverCount</key>
	<string>observerAboutOperation</string>
	<key>subpixelMediatorAcceleration</key>
	<string>documentBeyondStrategy</string>
</dict>
</plist>
