<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isolateMementoMode</key>
	<string>routerParameterCount</string>
	<key>lossVersusComposite</key>
	<string>sceneParamFrequency</string>
	<key>usageShapeForce</key>
	<string>usedSessionPadding</string>
</dict>
</plist>
