<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerKindInterval</key>
	<string>reducerAroundKind</string>
	<key>finalConfigurationPadding</key>
	<string>responsiveViewTheme</string>
	<key>numericalCurveColor</key>
	<string>frameProxyName</string>
	<key>playbackAwayContext</key>
	<string>completionAroundChain</string>
	<key>transitionInterpreterBehavior</key>
	<string>resultWithoutObserver</string>
	<key>widgetUntilActivity</key>
	<string>nibThanNumber</string>
</dict>
</plist>
