<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGraphPadding</key>
	<string>builderStructureSize</string>
	<key>arithmeticBufferCenter</key>
	<string>tweenOfFramework</string>
	<key>deferredStepStyle</key>
	<string>containerInsideProcess</string>
	<key>gramAroundState</key>
	<string>resourceNumberTheme</string>
	<key>interfaceNearPattern</key>
	<string>topicInterpreterFeedback</string>
	<key>intermediateRequestHue</key>
	<string>asyncByFlyweight</string>
	<key>numericalGrayscaleDistance</key>
	<string>gateCompositeTheme</string>
	<key>primaryBoxInterval</key>
	<string>iterativeServiceForce</string>
</dict>
</plist>
