<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleNearComposite</key>
	<string>intensityTierSaturation</string>
	<key>compositionalPositionedSkewx</key>
	<string>diffableDurationTension</string>
	<key>curveObserverShade</key>
	<string>queryStrategyRotation</string>
	<key>queuePerPhase</key>
	<string>mutableCompleterDuration</string>
</dict>
</plist>
