<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineWithoutTask</key>
	<string>intensityThroughCommand</string>
	<key>constLossType</key>
	<string>gestureUntilPattern</string>
	<key>constraintBesidePlatform</key>
	<string>interactiveGiftVisible</string>
	<key>desktopFutureHue</key>
	<string>heroSinceStyle</string>
	<key>futurePlatformSpacing</key>
	<string>listviewTaskSkewx</string>
	<key>permissiveLayoutMomentum</key>
	<string>explicitGroupRate</string>
	<key>sessionOfValue</key>
	<string>operationActivityRate</string>
</dict>
</plist>
