<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyModulusKind</key>
	<string>mediocreBitrateLeft</string>
	<key>effectBeyondScope</key>
	<string>keyMusicBorder</string>
	<key>finalTopicCount</key>
	<string>streamWorkBound</string>
	<key>groupInsideTier</key>
	<string>directlyConsumerName</string>
	<key>intensityIncludeStrategy</key>
	<string>resilientFrameColor</string>
	<key>reducerExceptPhase</key>
	<string>comprehensiveZoneAcceleration</string>
	<key>resourceAwayPhase</key>
	<string>allocatorPlatformForce</string>
	<key>reusableEventSkewx</key>
	<string>disparateSignatureSpacing</string>
	<key>rowTempleFeedback</key>
	<string>notificationMementoShade</string>
</dict>
</plist>
