<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAwayCommand</key>
	<string>taskInsideProcess</string>
	<key>arithmeticAccessoryKind</key>
	<string>resourceMementoPosition</string>
	<key>asyncOrVariable</key>
	<string>workflowNearMemento</string>
	<key>blocBufferContrast</key>
	<string>masterCyclePosition</string>
	<key>disparateSegueSize</key>
	<string>alignmentSystemRight</string>
	<key>globalExceptionDelay</key>
	<string>capsuleFacadeDelay</string>
	<key>hashTempleOrigin</key>
	<string>delicateImageOpacity</string>
	<key>resultPatternDelay</key>
	<string>specifyParticleDirection</string>
	<key>spriteShapeScale</key>
	<string>alertModeResponse</string>
	<key>transformerPerMode</key>
	<string>streamBeyondVisitor</string>
</dict>
</plist>
