<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOperationContrast</key>
	<string>dropdownbuttonLevelHead</string>
	<key>catalystVersusOperation</key>
	<string>resourceNumberShape</string>
	<key>durationWithWork</key>
	<string>permissiveDurationKind</string>
	<key>easyCoordinatorIndex</key>
	<string>unaryOfContext</string>
	<key>sinkVersusAction</key>
	<string>activatedResolverPosition</string>
	<key>storageOfFunction</key>
	<string>arithmeticDuringMode</string>
	<key>techniqueParameterDepth</key>
	<string>remainderMediatorScale</string>
	<key>textfieldDuringOperation</key>
	<string>constraintModePosition</string>
	<key>workflowAmongObserver</key>
	<string>activityActivityEdge</string>
</dict>
</plist>
