<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicQueryBottom</key>
	<string>unaryContainFunction</string>
	<key>buttonForEnvironment</key>
	<string>difficultObserverVelocity</string>
	<key>clipperPerPhase</key>
	<string>chapterPerFacade</string>
	<key>crucialCustompaintFormat</key>
	<string>fusedWorkflowVelocity</string>
	<key>gridviewVersusShape</key>
	<string>autoAsyncFeedback</string>
	<key>normalPresenterMomentum</key>
	<string>nibCommandSpeed</string>
	<key>protectedResolverType</key>
	<string>expandedExceptMediator</string>
	<key>semanticServiceBottom</key>
	<string>gramAboutTier</string>
	<key>symmetricProfileStatus</key>
	<string>taskForMediator</string>
</dict>
</plist>
