<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTextOrigin</key>
	<string>aspectratioEnvironmentInteraction</string>
	<key>cardSinceDecorator</key>
	<string>symmetricDecorationOrientation</string>
	<key>consultativeActivityOrientation</key>
	<string>providerChainColor</string>
	<key>customInkwellValidation</key>
	<string>movementParameterDensity</string>
	<key>customizedSkirtTail</key>
	<string>widgetProxyInterval</string>
	<key>disabledDimensionDuration</key>
	<string>blocExceptScope</string>
	<key>invisibleBlocPressure</key>
	<string>graphAmongVar</string>
	<key>projectAwayTask</key>
	<string>providerBesideBridge</string>
	<key>sophisticatedToolKind</key>
	<string>stateWithVariable</string>
	<key>statefulPlatformDelay</key>
	<string>resourceExceptFramework</string>
</dict>
</plist>
