<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterInterpreterForce</key>
	<string>declarativeTextPressure</string>
	<key>cupertinoCursorMode</key>
	<string>resultPatternDirection</string>
	<key>tabviewVarSpacing</key>
	<string>interfaceIncludePhase</string>
	<key>visibleReducerBound</key>
	<string>mobileLayerBehavior</string>
</dict>
</plist>
