<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorModeTransparency</key>
	<string>specifierVariableValidation</string>
	<key>exceptionWorkVisible</key>
	<string>utilAmongTask</string>
	<key>gestureBeyondAdapter</key>
	<string>projectionVersusPhase</string>
	<key>layerAboutAction</key>
	<string>uniformExceptionOffset</string>
	<key>liteControllerForce</key>
	<string>stateAroundScope</string>
	<key>overlayAtFacade</key>
	<string>directActionOpacity</string>
	<key>repositoryPerMemento</key>
	<string>lastAspectKind</string>
	<key>segmentIncludePrototype</key>
	<string>completerDuringVisitor</string>
	<key>storageWithValue</key>
	<string>handlerPrototypeRotation</string>
</dict>
</plist>
