<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitDuringCommand</key>
	<string>riverpodInterpreterTransparency</string>
	<key>denseTickerEdge</key>
	<string>memberInterpreterDensity</string>
	<key>dimensionAtStyle</key>
	<string>navigatorSystemOrientation</string>
	<key>exponentSinceAction</key>
	<string>richtextStructureType</string>
	<key>listenerStageTail</key>
	<string>persistentSymbolState</string>
	<key>numericalAnimationStyle</key>
	<string>anchorOfScope</string>
	<key>observerNearTemple</key>
	<string>techniqueVisitorBorder</string>
	<key>sizeContainComposite</key>
	<string>particleAdapterContrast</string>
	<key>titleFrameworkDistance</key>
	<string>previewAwayAdapter</string>
	<key>titlePerJob</key>
	<string>entropyBufferAcceleration</string>
</dict>
</plist>
