<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMemberShade</key>
	<string>basicReductionForce</string>
	<key>cubeStrategyShade</key>
	<string>spineEnvironmentAlignment</string>
	<key>enabledOperationHead</key>
	<string>callbackIncludeLayer</string>
	<key>groupLayerRotation</key>
	<string>newestGrainLeft</string>
	<key>normalIntensityPressure</key>
	<string>bulletThanParameter</string>
	<key>referenceBeyondParam</key>
	<string>precisionTypeSpacing</string>
	<key>significantEquipmentRotation</key>
	<string>stepOrPattern</string>
	<key>standaloneOverlayTint</key>
	<string>contractionStrategyInset</string>
</dict>
</plist>
