<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeGrainOffset</key>
	<string>labelLevelSkewy</string>
	<key>channelNearVariable</key>
	<string>declarativeTextureInset</string>
	<key>clipperContextSkewy</key>
	<string>numericalCollectionVelocity</string>
	<key>intuitiveStackOrigin</key>
	<string>lazyNotificationOffset</string>
	<key>layerOutsideSystem</key>
	<string>inheritedReferenceMargin</string>
	<key>reducerInTier</key>
	<string>resizableLayoutVisible</string>
	<key>sliderObserverIndex</key>
	<string>taskIncludeTier</string>
	<key>streamProcessDelay</key>
	<string>routerNearCycle</string>
</dict>
</plist>
