<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNumberContrast</key>
	<string>providerProxyPressure</string>
	<key>buttonScopeEdge</key>
	<string>agilePositionInterval</string>
	<key>directlyManagerTheme</key>
	<string>spineActivityTail</string>
	<key>documentOrFacade</key>
	<string>inheritedSwitchShade</string>
	<key>integerAsPrototype</key>
	<string>sophisticatedProfileSpacing</string>
	<key>interactorWithoutMethod</key>
	<string>serviceDespiteProcess</string>
	<key>presenterOfParam</key>
	<string>parallelTaskVisibility</string>
	<key>queueAdapterTag</key>
	<string>cursorAmongPrototype</string>
</dict>
</plist>
