<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeInterpolationKind</key>
	<string>alignmentLevelCenter</string>
	<key>assetValueTint</key>
	<string>localStoryboardColor</string>
	<key>characterTaskStatus</key>
	<string>standaloneMusicSaturation</string>
	<key>decorationStrategyState</key>
	<string>menuOfVariable</string>
	<key>desktopRectName</key>
	<string>sortedTechniqueShape</string>
	<key>durationObserverInteraction</key>
	<string>iterativeResolverInterval</string>
	<key>eventVersusVariable</key>
	<string>usagePlatformColor</string>
	<key>frameParameterAcceleration</key>
	<string>numericalCosineVisibility</string>
	<key>requiredGraphicLocation</key>
	<string>stackCompositeVisible</string>
</dict>
</plist>
