<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerConstraintLocation</key>
	<string>intensityTypeCenter</string>
	<key>layerFrameworkForce</key>
	<string>statefulRouteKind</string>
	<key>routeContainEnvironment</key>
	<string>optimizerVarBrightness</string>
	<key>titleIncludeScope</key>
	<string>difficultOffsetRate</string>
	<key>titleStageDistance</key>
	<string>permanentPaddingFlags</string>
</dict>
</plist>
