<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithoutComposite</key>
	<string>routeObserverTail</string>
	<key>capsulePerNumber</key>
	<string>stateInsideStructure</string>
	<key>constraintOfBuffer</key>
	<string>oldGraphBound</string>
	<key>effectUntilDecorator</key>
	<string>techniqueNumberCoord</string>
	<key>positionAmongVariable</key>
	<string>basicInteractorTop</string>
	<key>routeAsType</key>
	<string>futurePerObserver</string>
	<key>typicalCustompaintTag</key>
	<string>geometricCustompaintVelocity</string>
</dict>
</plist>
