<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFunctionCenter</key>
	<string>activeListviewDuration</string>
	<key>callbackScopeBottom</key>
	<string>streamLikeSystem</string>
	<key>isolateScopeSkewy</key>
	<string>navigationOutsideValue</string>
	<key>spotVersusDecorator</key>
	<string>entityBeyondMode</string>
</dict>
</plist>
