<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentVisitorStatus</key>
	<string>staticVariantDelay</string>
	<key>grainThroughParameter</key>
	<string>chapterChainTint</string>
	<key>observerOfVariable</key>
	<string>animationSinceParameter</string>
	<key>richtextForParameter</key>
	<string>alphaViaForm</string>
	<key>sizedboxIncludeSingleton</key>
	<string>transitionAsContext</string>
</dict>
</plist>
