<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxJobState</key>
	<string>parallelCallbackType</string>
	<key>cubitCommandTransparency</key>
	<string>chartTierKind</string>
	<key>dropdownbuttonFormTop</key>
	<string>popupMediatorAlignment</string>
	<key>easyModulusTag</key>
	<string>aspectByParam</string>
	<key>taskNearInterpreter</key>
	<string>standaloneDecorationColor</string>
</dict>
</plist>
