<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedReductionName</key>
	<string>layoutCommandDuration</string>
	<key>asynchronousPlaybackCenter</key>
	<string>discardedInterfacePadding</string>
	<key>backwardLoopValidation</key>
	<string>boxshadowLikePattern</string>
	<key>commonQueueHue</key>
	<string>featureInsideSystem</string>
	<key>ignoredRouteMode</key>
	<string>asyncFutureName</string>
	<key>logNumberTop</key>
	<string>spotTypeFormat</string>
	<key>logarithmWithMemento</key>
	<string>sliderFrameworkFlags</string>
	<key>mainConvolutionState</key>
	<string>hierarchicalRadiusOrigin</string>
	<key>requiredRectAcceleration</key>
	<string>grainTierRight</string>
	<key>segmentObserverStyle</key>
	<string>finalNotificationSkewy</string>
</dict>
</plist>
