<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionValuePosition</key>
	<string>bufferContainKind</string>
	<key>customizedListenerRight</key>
	<string>permissiveSkinBound</string>
	<key>dimensionAwayComposite</key>
	<string>firstPositionFeedback</string>
	<key>heapSinceShape</key>
	<string>providerDuringStage</string>
	<key>relationalTitleSkewx</key>
	<string>scrollableStatefulInteraction</string>
</dict>
</plist>
