<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncResourceDirection</key>
	<string>modelThroughNumber</string>
	<key>cubitIncludeProxy</key>
	<string>tensorChartBehavior</string>
	<key>fragmentStyleSkewx</key>
	<string>transformerForPrototype</string>
	<key>geometricContainerShape</key>
	<string>singletonStateMargin</string>
	<key>gridviewIncludeTier</key>
	<string>customizedSpineSkewy</string>
	<key>inkwellObserverLeft</key>
	<string>tensorDecorationBound</string>
	<key>intensityScopeDepth</key>
	<string>declarativeLoopDensity</string>
	<key>newestTangentCoord</key>
	<string>previewFromNumber</string>
	<key>projectModeFeedback</key>
	<string>getxBesideStructure</string>
	<key>subsequentChapterFormat</key>
	<string>workflowPlatformName</string>
</dict>
</plist>
