<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentStateState</key>
	<string>bitrateSingletonStyle</string>
	<key>controllerOfTemple</key>
	<string>criticalAssetValidation</string>
	<key>cubitLikeStage</key>
	<string>storeSystemCoord</string>
	<key>functionalGridVisibility</key>
	<string>grainWithNumber</string>
	<key>otherListenerBrightness</key>
	<string>marginJobRate</string>
	<key>transitionContainMode</key>
	<string>variantEnvironmentOffset</string>
</dict>
</plist>
