<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorTypeTension</key>
	<string>nativePresenterEdge</string>
	<key>rapidStatefulEdge</key>
	<string>capacitiesByWork</string>
	<key>storeDuringBuffer</key>
	<string>stateAroundStrategy</string>
	<key>topicThroughActivity</key>
	<string>cardWorkState</string>
</dict>
</plist>
