<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStageMode</key>
	<string>modalShapeColor</string>
	<key>nodeCommandPosition</key>
	<string>histogramThroughProxy</string>
	<key>previewVariableAlignment</key>
	<string>synchronousCurveDelay</string>
	<key>providerBesideAction</key>
	<string>widgetPlatformOrigin</string>
	<key>roleAmongInterpreter</key>
	<string>checklistThanBridge</string>
	<key>scrollableInteractorForce</key>
	<string>alignmentParameterFeedback</string>
	<key>segmentFunctionBorder</key>
	<string>factoryDuringFacade</string>
	<key>sustainableTextBottom</key>
	<string>directlyImageState</string>
</dict>
</plist>
