<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionChapterSkewy</key>
	<string>timerThanLayer</string>
	<key>bitrateValueBehavior</key>
	<string>handlerActivityKind</string>
	<key>diversifiedWidgetHead</key>
	<string>animatedcontainerOfFramework</string>
	<key>lastRowType</key>
	<string>reducerStrategyHead</string>
	<key>paddingContainMediator</key>
	<string>prismaticCallbackName</string>
	<key>slashFormRight</key>
	<string>channelAwayScope</string>
	<key>smartOffsetFrequency</key>
	<string>geometricIconMargin</string>
	<key>streamPerLevel</key>
	<string>touchAmongMethod</string>
	<key>unaryTaskPosition</key>
	<string>resizableFrameSkewx</string>
</dict>
</plist>
