<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonExtensionRight</key>
	<string>methodActionCoord</string>
	<key>disabledMomentumSkewy</key>
	<string>precisionIncludeTemple</string>
	<key>easySymbolBrightness</key>
	<string>permissiveCapsuleInterval</string>
	<key>intensityLikeMemento</key>
	<string>enabledMediaStatus</string>
	<key>resultAsPattern</key>
	<string>deferredLayoutState</string>
	<key>samplePrototypeState</key>
	<string>iterativeImageMargin</string>
</dict>
</plist>
