<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBinaryScale</key>
	<string>unactivatedTweenBound</string>
	<key>featureCompositeOrigin</key>
	<string>sessionEnvironmentVisible</string>
	<key>inheritedAssetMargin</key>
	<string>scrollAlongVar</string>
	<key>intensityAtInterpreter</key>
	<string>gridIncludeAction</string>
	<key>resilientSignTheme</key>
	<string>pointThroughFramework</string>
	<key>smartObserverSkewx</key>
	<string>resultTempleAlignment</string>
	<key>tappableLogMomentum</key>
	<string>decorationActivityShape</string>
	<key>tickerContainContext</key>
	<string>declarativeRouteInset</string>
	<key>transitionDuringVisitor</key>
	<string>criticalLabelTint</string>
</dict>
</plist>
