<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastRectStatus</key>
	<string>brushSingletonMomentum</string>
	<key>nibStyleBrightness</key>
	<string>heapNearTemple</string>
	<key>seamlessCubitDelay</key>
	<string>euclideanFeatureDensity</string>
	<key>utilWithoutValue</key>
	<string>interactiveMatrixAcceleration</string>
</dict>
</plist>
