<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerCycleScale</key>
	<string>greatPriorityResponse</string>
	<key>eagerSineSize</key>
	<string>sizedboxLayerShade</string>
	<key>fusedBoxshadowCenter</key>
	<string>stepProxyMomentum</string>
	<key>screenAroundMethod</key>
	<string>prevMasterDepth</string>
	<key>scrollableCoordinatorHead</key>
	<string>completerAroundSingleton</string>
</dict>
</plist>
