<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorVariableBorder</key>
	<string>actionAndWork</string>
	<key>primaryBoxSpacing</key>
	<string>permissiveAlertLocation</string>
	<key>prismaticLogarithmFormat</key>
	<string>monsterBridgeLocation</string>
	<key>signValueFormat</key>
	<string>singleGesturedetectorFlags</string>
	<key>sustainableManagerScale</key>
	<string>radiusCycleHue</string>
</dict>
</plist>
