<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTaskRotation</key>
	<string>intensityStateBottom</string>
	<key>constTaskScale</key>
	<string>displayableTabviewDensity</string>
	<key>containerLevelAcceleration</key>
	<string>dependencyOutsideTemple</string>
	<key>methodMementoVisible</key>
	<string>storeAboutPrototype</string>
	<key>priorityKindLocation</key>
	<string>significantProviderSpeed</string>
	<key>reactivePlaybackRight</key>
	<string>painterTypeSkewy</string>
	<key>substantialChecklistDirection</key>
	<string>modelByCommand</string>
</dict>
</plist>
