<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAmongState</key>
	<string>tensorPresenterDirection</string>
	<key>behaviorScopeDuration</key>
	<string>oldContainerInterval</string>
	<key>canvasNumberBound</key>
	<string>popupPatternTint</string>
	<key>delicateOptimizerLeft</key>
	<string>observerPerShape</string>
	<key>easyKernelIndex</key>
	<string>sustainableSliderLocation</string>
	<key>modulusEnvironmentEdge</key>
	<string>delegateFrameworkScale</string>
	<key>titleByMemento</key>
	<string>discardedFutureSize</string>
	<key>transformerPlatformState</key>
	<string>toolOfShape</string>
	<key>unactivatedSkirtRight</key>
	<string>activityThanShape</string>
</dict>
</plist>
