<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDelegateScale</key>
	<string>otherAccessoryForce</string>
	<key>displayableSceneFlags</key>
	<string>normSingletonTail</string>
	<key>geometricHandlerRight</key>
	<string>originalSizeAcceleration</string>
	<key>modelByVar</key>
	<string>resultStyleType</string>
	<key>providerNumberMargin</key>
	<string>documentShapeSpacing</string>
	<key>resourceAndCommand</key>
	<string>builderKindRight</string>
	<key>seamlessDropdownbuttonRight</key>
	<string>textAlongActivity</string>
	<key>stampForShape</key>
	<string>operationCommandOpacity</string>
</dict>
</plist>
