<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentCycleStatus</key>
	<string>asyncFlyweightDuration</string>
	<key>mediaContainShape</key>
	<string>prismaticQueueRotation</string>
	<key>publicAwaitRight</key>
	<string>disparateSkirtSkewx</string>
	<key>substantialSpecifierBound</key>
	<string>delegateAboutParameter</string>
</dict>
</plist>
