<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionInStage</key>
	<string>coordinatorWorkTheme</string>
	<key>assetAroundType</key>
	<string>exceptionPrototypeValidation</string>
	<key>batchStrategyRotation</key>
	<string>previewVariableAlignment</string>
	<key>granularBufferInteraction</key>
	<string>configurationSinceVar</string>
	<key>hardDescriptionInterval</key>
	<string>mobxAboutPrototype</string>
	<key>keySpritePressure</key>
	<string>concurrentPreviewName</string>
	<key>labelStrategyTheme</key>
	<string>fusedServiceRate</string>
	<key>modelFrameworkDepth</key>
	<string>operationMementoHue</string>
	<key>nextPopupTop</key>
	<string>tensorCommandTag</string>
	<key>synchronousPresenterBound</key>
	<string>responseDespiteFlyweight</string>
</dict>
</plist>
