<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartOfType</key>
	<string>protocolMediatorInteraction</string>
	<key>cubitPatternOpacity</key>
	<string>eventBesideProxy</string>
	<key>diversifiedManagerBorder</key>
	<string>transitionObserverRight</string>
	<key>layoutFacadeDensity</key>
	<string>ephemeralClipperLeft</string>
	<key>popupOfWork</key>
	<string>serviceObserverTail</string>
	<key>signatureTempleShade</key>
	<string>featureIncludeNumber</string>
</dict>
</plist>
