<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitNavigatorShape</key>
	<string>challengeModeTransparency</string>
	<key>giftBridgeCoord</key>
	<string>commonTitleRight</string>
	<key>globalTableCoord</key>
	<string>opaqueBatchStyle</string>
	<key>lossViaLevel</key>
	<string>prismaticInstructionSpacing</string>
	<key>observerSinceProxy</key>
	<string>coordinatorOrActivity</string>
	<key>timerAndScope</key>
	<string>constraintPlatformOrientation</string>
</dict>
</plist>
