<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inactiveSwiftMomentum</key>
	<string>interactorFromSystem</string>
	<key>matrixIncludeCycle</key>
	<string>displayablePreviewPadding</string>
	<key>parallelUtilCenter</key>
	<string>shaderInCycle</string>
	<key>requiredEntityDepth</key>
	<string>handlerLayerFlags</string>
	<key>transformerTypeFlags</key>
	<string>roleThanState</string>
</dict>
</plist>
