<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentTableDuration</key>
	<string>symbolCommandMargin</string>
	<key>mapFromEnvironment</key>
	<string>ignoredRemainderDuration</string>
	<key>normalContainerOffset</key>
	<string>hyperbolicCoordinatorOrigin</string>
	<key>themeStageDensity</key>
	<string>lostShaderOpacity</string>
	<key>uniformDimensionSkewx</key>
	<string>consumerParameterTension</string>
	<key>visibleTweenScale</key>
	<string>spriteBufferRotation</string>
</dict>
</plist>
