<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellDespiteTier</key>
	<string>threadStyleLocation</string>
	<key>cubitOrBridge</key>
	<string>decorationVersusTemple</string>
	<key>customLoopSpeed</key>
	<string>permissiveStampPosition</string>
	<key>mainSessionColor</key>
	<string>serviceTierTension</string>
	<key>mutableCurveTag</key>
	<string>primaryGradientFlags</string>
	<key>numericalTransformerMomentum</key>
	<string>discardedDocumentSpacing</string>
	<key>plateAlongObserver</key>
	<string>sessionActionAppearance</string>
	<key>respectiveBuilderVisible</key>
	<string>workflowByBuffer</string>
	<key>stepActionVisible</key>
	<string>managerIncludeOperation</string>
	<key>unactivatedProjectionDensity</key>
	<string>viewFrameworkVisibility</string>
</dict>
</plist>
