<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeStoryboardStyle</key>
	<string>matrixStageLocation</string>
	<key>asynchronousAspectratioLeft</key>
	<string>swiftTaskRotation</string>
	<key>awaitProcessLocation</key>
	<string>optionBufferTop</string>
	<key>curveAroundAction</key>
	<string>loopOperationRotation</string>
	<key>histogramUntilActivity</key>
	<string>characterFacadeTension</string>
	<key>kernelCommandVisibility</key>
	<string>isolateTypeFeedback</string>
	<key>labelFrameworkFeedback</key>
	<string>groupCycleLeft</string>
	<key>managerIncludeVar</key>
	<string>compositionalGridBorder</string>
	<key>navigatorContextBehavior</key>
	<string>cupertinoEntityIndex</string>
	<key>providerFrameworkInterval</key>
	<string>mobxAsBuffer</string>
</dict>
</plist>
