<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorThroughMediator</key>
	<string>layerStyleHue</string>
	<key>deferredRiverpodFeedback</key>
	<string>buttonScopeIndex</string>
	<key>fragmentScopeBrightness</key>
	<string>cupertinoUtilTint</string>
	<key>fusedKernelDistance</key>
	<string>workflowParamType</string>
	<key>interactiveCursorSkewx</key>
	<string>liteProgressbarFlags</string>
	<key>nodeIncludeObserver</key>
	<string>variantTempleAcceleration</string>
	<key>protocolAsPhase</key>
	<string>textNearTemple</string>
	<key>providerVisitorStyle</key>
	<string>tabbarDuringEnvironment</string>
	<key>signFromFacade</key>
	<string>subpixelTierInteraction</string>
	<key>themeNearPlatform</key>
	<string>taskFormHead</string>
</dict>
</plist>
