<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardThreadType</key>
	<string>flexibleCoordinatorIndex</string>
	<key>exceptionAdapterDelay</key>
	<string>requestTaskLocation</string>
	<key>futureDespiteMemento</key>
	<string>segueJobFeedback</string>
	<key>lostInjectionMomentum</key>
	<string>webReducerPosition</string>
	<key>priorityDecoratorVelocity</key>
	<string>constraintPhaseTension</string>
	<key>similarAssetType</key>
	<string>borderVisitorInterval</string>
	<key>subscriptionPlatformStyle</key>
	<string>statelessOrTemple</string>
</dict>
</plist>
