<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionEventDepth</key>
	<string>effectTierValidation</string>
	<key>configurationThanFacade</key>
	<string>borderVarBound</string>
	<key>loopTierSpacing</key>
	<string>vectorWithoutFlyweight</string>
	<key>normalRepositoryTail</key>
	<string>sizedboxContextValidation</string>
	<key>oldBaseHead</key>
	<string>cardStageState</string>
	<key>taskObserverDirection</key>
	<string>themeAlongType</string>
</dict>
</plist>
