<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletVisitorAlignment</key>
	<string>metadataFrameworkDepth</string>
	<key>canvasStageIndex</key>
	<string>immutableLocalizationAlignment</string>
	<key>displayableButtonDirection</key>
	<string>chapterPhaseForce</string>
	<key>permissiveGiftTail</key>
	<string>criticalChallengeBottom</string>
	<key>projectionPlatformDuration</key>
	<string>unsortedAspectratioKind</string>
	<key>requiredEventIndex</key>
	<string>cubitParameterFrequency</string>
</dict>
</plist>
