<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoCompleterInteraction</key>
	<string>activityPatternState</string>
	<key>effectNearVar</key>
	<string>scaffoldViaObserver</string>
	<key>entityVariableInterval</key>
	<string>actionForAction</string>
	<key>granularButtonType</key>
	<string>responsiveTaskLocation</string>
	<key>pivotalGrainTension</key>
	<string>delicateLayoutSkewy</string>
	<key>responseNearActivity</key>
	<string>diffableExceptionVisibility</string>
	<key>semanticsWithoutVariable</key>
	<string>delegateEnvironmentStatus</string>
	<key>titleContainPattern</key>
	<string>mediaAgainstPattern</string>
	<key>viewTempleOrientation</key>
	<string>sizeChainAcceleration</string>
</dict>
</plist>
