<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerSinceActivity</key>
	<string>sequentialPageviewAcceleration</string>
	<key>coordinatorCommandName</key>
	<string>menuCommandSkewx</string>
	<key>gramByStage</key>
	<string>roleIncludeSystem</string>
	<key>petVisitorBorder</key>
	<string>inactiveOptimizerFlags</string>
	<key>plateVariableDensity</key>
	<string>crudeSceneSkewy</string>
	<key>precisionMementoSpeed</key>
	<string>significantSpriteSkewy</string>
	<key>temporaryWidgetDirection</key>
	<string>nibDuringObserver</string>
</dict>
</plist>
