<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateContextCoord</key>
	<string>smallSizeRight</string>
	<key>dependencyWithoutPrototype</key>
	<string>newestResolverInterval</string>
	<key>positionedAlongTier</key>
	<string>topicContainOperation</string>
	<key>resolverForParam</key>
	<string>descriptorBridgeAcceleration</string>
	<key>retainedKernelInterval</key>
	<string>methodDuringNumber</string>
	<key>seamlessGridviewShade</key>
	<string>composableSubscriptionBorder</string>
	<key>singleRouteSpacing</key>
	<string>richtextActionForce</string>
	<key>taskBesideAction</key>
	<string>builderDuringStructure</string>
	<key>taskJobMode</key>
	<string>euclideanAwaitPadding</string>
	<key>variantCommandMomentum</key>
	<string>bufferPerStage</string>
</dict>
</plist>
