<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobxNumberScale</key>
	<string>otherBuilderFeedback</string>
	<key>pointWorkLocation</key>
	<string>bitrateFunctionVisibility</string>
	<key>remainderIncludeTask</key>
	<string>dependencyAndPhase</string>
	<key>subsequentDecorationDistance</key>
	<string>robustChannelTransparency</string>
	<key>subtleEffectCoord</key>
	<string>resourceFlyweightAlignment</string>
	<key>unactivatedFragmentDirection</key>
	<string>deferredResultHue</string>
</dict>
</plist>
