<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedMetadataVelocity</key>
	<string>isolateFunctionTop</string>
	<key>gesturedetectorFrameworkSpacing</key>
	<string>channelsContainFacade</string>
	<key>grainModeKind</key>
	<string>tangentObserverDepth</string>
	<key>greatBuilderDelay</key>
	<string>sliderChainTransparency</string>
</dict>
</plist>
