<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectAroundShape</key>
	<string>actionFunctionDensity</string>
	<key>interactiveCellVisibility</key>
	<string>composableLayerLocation</string>
	<key>layerFromNumber</key>
	<string>queueFrameworkColor</string>
	<key>logAboutLevel</key>
	<string>transitionActivityLocation</string>
	<key>symmetricCupertinoRate</key>
	<string>prismaticDelegateType</string>
</dict>
</plist>
