<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStageCoord</key>
	<string>listenerPhaseKind</string>
	<key>firstDurationPosition</key>
	<string>commonLayerOpacity</string>
	<key>matrixPerParam</key>
	<string>sineBeyondMemento</string>
	<key>menuParamMargin</key>
	<string>visibleQueryRotation</string>
</dict>
</plist>
