<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteCharacterEdge</key>
	<string>cellStateScale</string>
	<key>cubitBeyondVar</key>
	<string>widgetAwayChain</string>
	<key>sizePlatformKind</key>
	<string>gridDuringType</string>
	<key>staticBitrateInterval</key>
	<string>standaloneActivityTint</string>
</dict>
</plist>
