<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertThroughCommand</key>
	<string>functionalIconVisibility</string>
	<key>completerStyleFeedback</key>
	<string>newestControllerDepth</string>
	<key>firstWidgetFormat</key>
	<string>blocAmongPattern</string>
	<key>managerParamShade</key>
	<string>controllerProcessTheme</string>
	<key>mediocreBaseCenter</key>
	<string>interpolationAroundDecorator</string>
	<key>notifierAdapterType</key>
	<string>documentVisitorSkewy</string>
	<key>symbolStateLocation</key>
	<string>unaryAndWork</string>
</dict>
</plist>
