<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseTypeShade</key>
	<string>sessionFrameworkDuration</string>
	<key>blocWithoutAdapter</key>
	<string>retainedHeapSpacing</string>
	<key>captionExceptParameter</key>
	<string>draggableNavigationInterval</string>
	<key>modulusNearJob</key>
	<string>sensorSystemCenter</string>
	<key>projectObserverSize</key>
	<string>enabledTableTail</string>
	<key>stateVisitorInset</key>
	<string>constraintVariableBottom</string>
	<key>unactivatedAnimationForce</key>
	<string>staticDocumentValidation</string>
</dict>
</plist>
