<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeModalVelocity</key>
	<string>intuitiveHashDirection</string>
	<key>futureAsBridge</key>
	<string>delegateDespiteTier</string>
	<key>hyperbolicBitrateName</key>
	<string>requiredProtocolTop</string>
	<key>priorityObserverSpacing</key>
	<string>frameJobLeft</string>
</dict>
</plist>
