<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxInAction</key>
	<string>gestureTaskInterval</string>
	<key>cubeContainVariable</key>
	<string>labelParamMomentum</string>
	<key>greatStoryboardRate</key>
	<string>iterativeAsyncAlignment</string>
	<key>mutableInterfaceOrigin</key>
	<string>vectorProxyFrequency</string>
	<key>unactivatedIntensityFrequency</key>
	<string>granularKernelBrightness</string>
</dict>
</plist>
