<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorBeyondState</key>
	<string>awaitFunctionHue</string>
	<key>asynchronousPainterAlignment</key>
	<string>directSingletonInterval</string>
	<key>commonInjectionMargin</key>
	<string>interfaceThroughParameter</string>
	<key>difficultFutureTag</key>
	<string>profileCommandShade</string>
	<key>easyQueueType</key>
	<string>appbarTempleVisibility</string>
	<key>functionalProviderTint</key>
	<string>richtextAndStage</string>
	<key>intensityAndKind</key>
	<string>checkboxParamRotation</string>
	<key>requiredEquipmentPressure</key>
	<string>fusedSliderPadding</string>
</dict>
</plist>
