<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryIncludeLevel</key>
	<string>globalTextCount</string>
	<key>backwardTransitionFrequency</key>
	<string>zoneForLayer</string>
	<key>commandSystemScale</key>
	<string>bufferJobRight</string>
	<key>modelCommandMode</key>
	<string>radioSingletonTop</string>
	<key>nextBlocVelocity</key>
	<string>autoResponseBorder</string>
	<key>resourceSinceFramework</key>
	<string>labelFunctionInset</string>
	<key>responseScopeTail</key>
	<string>routeSinceMediator</string>
	<key>rowPhaseTop</key>
	<string>mediocreAperturePadding</string>
	<key>stackAtInterpreter</key>
	<string>similarEffectKind</string>
	<key>stampContainContext</key>
	<string>webGrainKind</string>
</dict>
</plist>
