<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAndObserver</key>
	<string>consumerIncludeValue</string>
	<key>composablePriorityHue</key>
	<string>reductionTypeDistance</string>
	<key>hyperbolicBaselineOrigin</key>
	<string>listenerVarCount</string>
	<key>intermediateErrorTheme</key>
	<string>futureBufferPosition</string>
	<key>normalReducerSize</key>
	<string>lazyCurveInterval</string>
	<key>rapidConfigurationIndex</key>
	<string>blocLevelVelocity</string>
	<key>reductionActionMomentum</key>
	<string>timerVisitorTension</string>
	<key>routerMethodTension</key>
	<string>projectForStrategy</string>
</dict>
</plist>
