<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteConsumerShade</key>
	<string>appbarThroughStyle</string>
	<key>exceptionModeTransparency</key>
	<string>utilTierEdge</string>
	<key>gridviewNearStage</key>
	<string>standaloneSymbolMomentum</string>
	<key>iconMementoVisibility</key>
	<string>statelessLossForce</string>
	<key>localAlignmentTop</key>
	<string>beginnerManagerScale</string>
	<key>priorityPatternLocation</key>
	<string>cycleAroundActivity</string>
	<key>usedOperationName</key>
	<string>prevDescriptionFeedback</string>
	<key>vectorMementoDirection</key>
	<string>gridActionScale</string>
</dict>
</plist>
