<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreAspectRight</key>
	<string>sortedRouterSkewy</string>
	<key>normOutsideFunction</key>
	<string>popupLikeFacade</string>
	<key>permanentMaterialAlignment</key>
	<string>eventStructureInset</string>
	<key>pivotalModelDuration</key>
	<string>delegateNearParam</string>
	<key>singletonAtFramework</key>
	<string>grainAndPhase</string>
</dict>
</plist>
