<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInOperation</key>
	<string>mobxThanWork</string>
	<key>movementAsCommand</key>
	<string>gesturedetectorDecoratorBottom</string>
	<key>nextOverlayOpacity</key>
	<string>displayableSemanticsScale</string>
	<key>semanticsMethodVisible</key>
	<string>granularGroupResponse</string>
</dict>
</plist>
