<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groupWithScope</key>
	<string>modelFlyweightDensity</string>
	<key>mobileParameterOrientation</key>
	<string>gesturedetectorLikeVar</string>
	<key>responsiveResolverDepth</key>
	<string>cupertinoListenerBottom</string>
	<key>symbolOrChain</key>
	<string>cellActivitySaturation</string>
	<key>threadIncludeMediator</key>
	<string>layerThanParam</string>
	<key>titleActivityCount</key>
	<string>curveStateFeedback</string>
	<key>usedPriorityScale</key>
	<string>completionSystemTop</string>
</dict>
</plist>
