<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowVariableEdge</key>
	<string>petCommandBound</string>
	<key>convolutionForMode</key>
	<string>smartBuilderLeft</string>
	<key>dependencyParameterDistance</key>
	<string>disabledTextForce</string>
	<key>intuitiveViewTension</key>
	<string>gesturedetectorAmongChain</string>
	<key>offsetWorkTag</key>
	<string>resourceContextKind</string>
	<key>sessionOutsideCycle</key>
	<string>firstRouteStatus</string>
</dict>
</plist>
