<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderVariableMode</key>
	<string>decorationBufferStyle</string>
	<key>cardSingletonDuration</key>
	<string>crucialCaptionAppearance</string>
	<key>commandVersusForm</key>
	<string>listenerCommandEdge</string>
	<key>durationMediatorResponse</key>
	<string>titleThanTemple</string>
	<key>easySubscriptionCount</key>
	<string>missionForForm</string>
	<key>materialCertificateContrast</key>
	<string>concretePopupShape</string>
	<key>smartSliderDirection</key>
	<string>ignoredGroupDensity</string>
	<key>sortedTextureForce</key>
	<string>pinchableRadiusName</string>
</dict>
</plist>
