<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionAboutLayer</key>
	<string>loopBeyondChain</string>
	<key>containerExceptShape</key>
	<string>gradientContainStructure</string>
	<key>coordinatorFrameworkAppearance</key>
	<string>commonCompleterForce</string>
	<key>delegateProcessStyle</key>
	<string>spineOperationSkewx</string>
	<key>flexThroughMode</key>
	<string>alphaVarSkewy</string>
	<key>handlerAboutMethod</key>
	<string>protocolParamStyle</string>
	<key>interactorBeyondPlatform</key>
	<string>lastPainterVisibility</string>
	<key>repositoryViaParameter</key>
	<string>firstFeatureName</string>
</dict>
</plist>
