<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveLossVisibility</key>
	<string>rolePrototypeScale</string>
	<key>exceptionThroughStage</key>
	<string>collectionWithoutAction</string>
	<key>frameNearMediator</key>
	<string>handlerTypeBrightness</string>
	<key>mobileTypeBrightness</key>
	<string>logarithmNumberTheme</string>
	<key>newestNibBrightness</key>
	<string>relationalQueueRight</string>
	<key>previewDuringForm</key>
	<string>disabledNavigatorPressure</string>
	<key>symmetricCapsuleTop</key>
	<string>signatureExceptFramework</string>
</dict>
</plist>
