<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocDuringLayer</key>
	<string>cursorFromVar</string>
	<key>catalystSinceFacade</key>
	<string>reducerBufferFormat</string>
	<key>cupertinoFacadeDuration</key>
	<string>skinDecoratorFeedback</string>
	<key>lossShapeName</key>
	<string>unactivatedCaptionRate</string>
	<key>missedCacheInteraction</key>
	<string>singletonTaskBorder</string>
	<key>popupWithTask</key>
	<string>statelessProgressbarDistance</string>
	<key>resizableModelAcceleration</key>
	<string>permanentOffsetCoord</string>
	<key>robustStepType</key>
	<string>iterativeModulusKind</string>
	<key>sizeContainBuffer</key>
	<string>reducerInsideKind</string>
	<key>subpixelStrategyBehavior</key>
	<string>localizationPrototypeBrightness</string>
</dict>
</plist>
