<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetParameterSkewx</key>
	<string>actionPrototypeInset</string>
	<key>hyperbolicDocumentMargin</key>
	<string>sequentialPlaybackStyle</string>
	<key>swiftAndSingleton</key>
	<string>graphStructureVelocity</string>
</dict>
</plist>
