<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonParamTransparency</key>
	<string>richtextBufferOrigin</string>
	<key>crucialWidgetColor</key>
	<string>animatedcontainerAdapterInterval</string>
	<key>entityPerLevel</key>
	<string>navigatorPrototypeInset</string>
	<key>matrixDespiteAction</key>
	<string>featureOutsideShape</string>
	<key>menuAndProxy</key>
	<string>queueAmongMemento</string>
	<key>normPatternTail</key>
	<string>inkwellSystemPadding</string>
	<key>notificationObserverEdge</key>
	<string>slashAgainstStructure</string>
	<key>originalUtilRate</key>
	<string>channelTaskStyle</string>
	<key>reusableBitrateInteraction</key>
	<string>functionalLogDelay</string>
	<key>tableObserverRotation</key>
	<string>coordinatorVisitorMomentum</string>
</dict>
</plist>
