<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisLikeDecorator</key>
	<string>nextResultInterval</string>
	<key>commandTaskSpacing</key>
	<string>adaptiveRowResponse</string>
	<key>controllerActivityMode</key>
	<string>getxEnvironmentOrigin</string>
	<key>controllerUntilFlyweight</key>
	<string>errorPhaseTint</string>
	<key>cosineDespiteScope</key>
	<string>alphaCommandFeedback</string>
	<key>rectOutsideLevel</key>
	<string>histogramDuringActivity</string>
	<key>significantEquipmentOrientation</key>
	<string>mediumGiftTransparency</string>
	<key>sizePatternOrigin</key>
	<string>handlerStructureIndex</string>
	<key>widgetProxyStyle</key>
	<string>behaviorByWork</string>
</dict>
</plist>
