<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionUsecaseSkewx</key>
	<string>assetTempleKind</string>
	<key>clipperBridgeFlags</key>
	<string>controllerContainStyle</string>
	<key>effectProxyVisibility</key>
	<string>dedicatedBuilderEdge</string>
	<key>firstBuilderMode</key>
	<string>keyActivityShape</string>
	<key>mainAppbarShade</key>
	<string>basicMapTransparency</string>
	<key>permanentGridTop</key>
	<string>configurationJobIndex</string>
	<key>specifyAnimatedcontainerSize</key>
	<string>usecaseOperationIndex</string>
	<key>storyboardWithLevel</key>
	<string>unaryChainDistance</string>
	<key>tensorWidgetAppearance</key>
	<string>navigatorWorkSpacing</string>
	<key>transformerVisitorColor</key>
	<string>gemStageBehavior</string>
</dict>
</plist>
