<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTweenBound</key>
	<string>handlerByFlyweight</string>
	<key>smallExpandedShape</key>
	<string>awaitBeyondKind</string>
	<key>spineStructureTail</key>
	<string>gridThroughFunction</string>
	<key>webCustompaintShape</key>
	<string>menuInAction</string>
</dict>
</plist>
