<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetTaskTop</key>
	<string>mobilePhaseType</string>
	<key>callbackAgainstType</key>
	<string>apertureThroughTier</string>
	<key>currentPositionedValidation</key>
	<string>labelFlyweightValidation</string>
	<key>decorationBufferPosition</key>
	<string>modulusAwayNumber</string>
	<key>firstSingletonColor</key>
	<string>mainAnimatedcontainerKind</string>
	<key>resourceTierFormat</key>
	<string>coordinatorFunctionMargin</string>
	<key>respectiveScrollShape</key>
	<string>reducerAtProxy</string>
	<key>richtextStrategyLeft</key>
	<string>gridOrKind</string>
	<key>smallCoordinatorBorder</key>
	<string>commandSinceVariable</string>
	<key>utilStateShape</key>
	<string>streamDuringCommand</string>
</dict>
</plist>
