<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsAtState</key>
	<string>managerTierState</string>
	<key>containerParamOpacity</key>
	<string>methodObserverAlignment</string>
	<key>documentLikeTemple</key>
	<string>storageOrStyle</string>
	<key>ephemeralMenuLocation</key>
	<string>logFunctionSkewx</string>
	<key>exceptionVersusType</key>
	<string>seamlessReferenceIndex</string>
	<key>layoutInFunction</key>
	<string>uniqueInterpolationSaturation</string>
	<key>petDespiteFramework</key>
	<string>characterSystemDelay</string>
	<key>resolverSingletonVisibility</key>
	<string>borderFormHue</string>
	<key>specifyChannelsBound</key>
	<string>aspectCycleValidation</string>
	<key>tappableMovementDensity</key>
	<string>responsiveRepositoryFlags</string>
</dict>
</plist>
