<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesInForm</key>
	<string>resourceMementoPadding</string>
	<key>configurationPatternOffset</key>
	<string>taskDuringBuffer</string>
	<key>iconSincePattern</key>
	<string>intermediateDecorationVelocity</string>
	<key>inheritedApertureValidation</key>
	<string>constraintBesideBridge</string>
	<key>momentumDespiteTier</key>
	<string>builderStructureAcceleration</string>
	<key>offsetParameterBottom</key>
	<string>switchSingletonShape</string>
	<key>respectiveAllocatorContrast</key>
	<string>arithmeticValueIndex</string>
	<key>usedLocalizationCenter</key>
	<string>tabviewTierSpeed</string>
	<key>zoneForLevel</key>
	<string>sinkSinceLayer</string>
</dict>
</plist>
