<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintVarShape</key>
	<string>routeExceptState</string>
	<key>radiusVersusWork</key>
	<string>shaderCompositeKind</string>
	<key>reusableUsecaseScale</key>
	<string>tappableEntityFormat</string>
	<key>routeAwayVar</key>
	<string>builderOutsideScope</string>
	<key>singleCoordinatorOrigin</key>
	<string>timerDuringFlyweight</string>
	<key>smallVectorKind</key>
	<string>presenterPatternSpeed</string>
	<key>tensorQueueBorder</key>
	<string>grainAwayMemento</string>
</dict>
</plist>
