<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProjectShape</key>
	<string>futureAgainstContext</string>
	<key>bitrateWithVariable</key>
	<string>crudeRouteShade</string>
	<key>hashKindMargin</key>
	<string>slashStageCenter</string>
	<key>layoutVariableSpeed</key>
	<string>radioPatternShade</string>
	<key>mapAtLevel</key>
	<string>euclideanFactoryVisible</string>
	<key>primaryToolDuration</key>
	<string>aspectratioShapeMargin</string>
	<key>protectedCertificateRate</key>
	<string>resolverAroundEnvironment</string>
	<key>stepNearObserver</key>
	<string>reactiveButtonLocation</string>
	<key>streamUntilCycle</key>
	<string>completerLikeStage</string>
	<key>topicAwayShape</key>
	<string>utilThroughActivity</string>
</dict>
</plist>
