<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTransitionVisible</key>
	<string>mobxStateState</string>
	<key>commonEntityCount</key>
	<string>currentSwitchBorder</string>
	<key>cupertinoActivityShade</key>
	<string>pivotalTransformerName</string>
	<key>extensionBridgeDelay</key>
	<string>certificateVersusDecorator</string>
	<key>intuitiveErrorShape</key>
	<string>semanticDrawerHue</string>
	<key>nodeInPhase</key>
	<string>sliderInsidePrototype</string>
	<key>signatureStructureHead</key>
	<string>iterativeBlocShade</string>
</dict>
</plist>
