<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeStatelessForce</key>
	<string>independentCacheHue</string>
	<key>exceptionStyleMomentum</key>
	<string>arithmeticPromiseKind</string>
	<key>matrixValueTop</key>
	<string>iconFrameworkBorder</string>
	<key>storePhaseRate</key>
	<string>stampAlongAction</string>
</dict>
</plist>
