<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSizedboxOffset</key>
	<string>storageFromStructure</string>
	<key>criticalListenerRotation</key>
	<string>mobileFrameOrientation</string>
	<key>equalizationOrPlatform</key>
	<string>extensionFacadeRight</string>
	<key>equalizationSystemMode</key>
	<string>draggableRouterColor</string>
	<key>specifierAdapterAcceleration</key>
	<string>cartesianTimerRotation</string>
	<key>statelessOrMemento</key>
	<string>adaptiveProtocolRate</string>
	<key>workflowThroughForm</key>
	<string>alertWithType</string>
</dict>
</plist>
