<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeDespiteContext</key>
	<string>inheritedButtonTag</string>
	<key>fusedLabelVelocity</key>
	<string>cubitJobInteraction</string>
	<key>geometricAlertHue</key>
	<string>eventBufferType</string>
	<key>hierarchicalCurveKind</key>
	<string>projectionContextRight</string>
	<key>interactorSinceSingleton</key>
	<string>observerLevelResponse</string>
	<key>isolateOperationValidation</key>
	<string>blocOperationTag</string>
	<key>opaqueStoreCount</key>
	<string>firstErrorAlignment</string>
	<key>queryOperationDirection</key>
	<string>blocThroughKind</string>
	<key>remainderSinceFramework</key>
	<string>transformerSystemFeedback</string>
	<key>textAboutForm</key>
	<string>globalGridCoord</string>
</dict>
</plist>
