<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchOutsideShape</key>
	<string>relationalLabelKind</string>
	<key>elasticDocumentTop</key>
	<string>animatedcontainerAsPattern</string>
	<key>entityBesideKind</key>
	<string>accessoryFormAcceleration</string>
	<key>hashDespiteMediator</key>
	<string>boxshadowAmongSystem</string>
	<key>missionLikeBridge</key>
	<string>progressbarOfNumber</string>
	<key>nibVisitorFormat</key>
	<string>transitionOrAdapter</string>
	<key>rowWorkShade</key>
	<string>permanentStampEdge</string>
	<key>sinkSystemState</key>
	<string>subpixelFromPattern</string>
	<key>textureIncludeJob</key>
	<string>projectionParamLocation</string>
	<key>typicalGraphAppearance</key>
	<string>transformerWithoutForm</string>
</dict>
</plist>
