<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticInjectionStyle</key>
	<string>bufferVisitorDuration</string>
	<key>buttonWithoutPattern</key>
	<string>currentCubitTension</string>
	<key>intuitiveFutureScale</key>
	<string>sequentialResolverDensity</string>
	<key>relationalShaderInset</key>
	<string>batchLikeShape</string>
	<key>subpixelCycleName</key>
	<string>completerAlongSystem</string>
</dict>
</plist>
