<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerStrategySize</key>
	<string>allocatorLikePattern</string>
	<key>delegateContainLevel</key>
	<string>modelBufferKind</string>
	<key>draggableLogarithmVisibility</key>
	<string>remainderAsSingleton</string>
	<key>permanentScaffoldState</key>
	<string>advancedEventShade</string>
	<key>shaderViaKind</key>
	<string>asyncConfigurationCenter</string>
	<key>specifyDelegateSpeed</key>
	<string>finalDelegateAlignment</string>
	<key>textFromOperation</key>
	<string>controllerValueOpacity</string>
	<key>transitionContextShade</key>
	<string>resourceInsideScope</string>
</dict>
</plist>
