<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertForShape</key>
	<string>repositoryFromStructure</string>
	<key>cursorLayerRotation</key>
	<string>titleDespiteInterpreter</string>
	<key>injectionVariableScale</key>
	<string>specifyCursorTheme</string>
	<key>integerStageEdge</key>
	<string>actionAsPlatform</string>
	<key>queuePerPlatform</key>
	<string>subtleGrainMode</string>
	<key>transitionTierTag</key>
	<string>gridAndScope</string>
	<key>widgetVarTop</key>
	<string>sizeContainWork</string>
</dict>
</plist>
