<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonMediatorOrigin</key>
	<string>precisionMethodInterval</string>
	<key>coordinatorProcessDirection</key>
	<string>subscriptionFormIndex</string>
	<key>draggableCanvasInteraction</key>
	<string>heroFromStrategy</string>
	<key>localMonsterOrigin</key>
	<string>basicAwaitState</string>
	<key>resilientOptimizerFeedback</key>
	<string>timerKindFlags</string>
	<key>sinkThroughValue</key>
	<string>storageAgainstLevel</string>
	<key>sliderParamTheme</key>
	<string>dedicatedChannelFormat</string>
	<key>storyboardPatternType</key>
	<string>stateLevelDirection</string>
	<key>sustainableRowVelocity</key>
	<string>getxLayerVisibility</string>
</dict>
</plist>
