<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionMethodBorder</key>
	<string>staticGesturedetectorFlags</string>
	<key>chapterCycleInset</key>
	<string>smallDelegateVisibility</string>
	<key>curveVariableRotation</key>
	<string>flexibleListenerDepth</string>
	<key>durationFunctionSize</key>
	<string>characterWithoutWork</string>
	<key>groupAmongMediator</key>
	<string>temporaryAspectratioDuration</string>
	<key>iconIncludeFramework</key>
	<string>arithmeticInsideFacade</string>
	<key>taskDespiteJob</key>
	<string>themeDespiteVariable</string>
</dict>
</plist>
