<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSliderShape</key>
	<string>routerOrVariable</string>
	<key>dimensionTierEdge</key>
	<string>significantConvolutionDepth</string>
	<key>permissiveBitrateBrightness</key>
	<string>hyperbolicMediaqueryInteraction</string>
	<key>protectedSizeCenter</key>
	<string>deferredCapacitiesFormat</string>
	<key>spriteTierBorder</key>
	<string>builderIncludeScope</string>
</dict>
</plist>
