<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAboutValue</key>
	<string>protectedHeroTint</string>
	<key>criticalFragmentTheme</key>
	<string>equipmentNearFlyweight</string>
	<key>discardedMaterialLocation</key>
	<string>certificateVarDirection</string>
	<key>fusedStepPosition</key>
	<string>seamlessSizeDirection</string>
	<key>layoutAroundShape</key>
	<string>mutableDelegateBound</string>
	<key>nibForCycle</key>
	<string>criticalPainterHue</string>
	<key>themeAlongPhase</key>
	<string>animatedcontainerUntilBuffer</string>
	<key>tweenBeyondStage</key>
	<string>pinchableBlocStatus</string>
	<key>unaryCompositeColor</key>
	<string>frameProcessType</string>
</dict>
</plist>
