<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCallbackPadding</key>
	<string>crudeResolverCoord</string>
	<key>bufferFromParam</key>
	<string>beginnerLoopDuration</string>
	<key>crudeTexturePosition</key>
	<string>masterAroundAdapter</string>
	<key>curveMethodVisible</key>
	<string>subscriptionWorkLeft</string>
	<key>futureThroughContext</key>
	<string>iterativeProviderDistance</string>
	<key>radiusVersusStage</key>
	<string>segmentDecoratorShade</string>
	<key>resolverLikeFacade</key>
	<string>animationJobTag</string>
	<key>roleSinceVar</key>
	<string>aspectAmongOperation</string>
	<key>routerFormMomentum</key>
	<string>unaryPatternSkewx</string>
	<key>stampContextTint</key>
	<string>taskFunctionFormat</string>
</dict>
</plist>
