<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeAlertBrightness</key>
	<string>buttonAwayEnvironment</string>
	<key>cosineProcessTheme</key>
	<string>exceptionInJob</string>
	<key>crudeActivityIndex</key>
	<string>checkboxIncludeScope</string>
	<key>interactorScopeDelay</key>
	<string>animationStyleCount</string>
	<key>rapidCubitVelocity</key>
	<string>metadataBesideComposite</string>
	<key>repositoryObserverAppearance</key>
	<string>layoutStrategyDensity</string>
	<key>zoneContainMethod</key>
	<string>ternaryDuringProxy</string>
</dict>
</plist>
