<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyTaskState</key>
	<string>synchronousContainerMode</string>
	<key>inheritedAllocatorRate</key>
	<string>arithmeticResourceForce</string>
	<key>stackPerAction</key>
	<string>tangentAgainstContext</string>
</dict>
</plist>
