<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInBridge</key>
	<string>layoutAwayEnvironment</string>
	<key>constCoordinatorHue</key>
	<string>switchThroughTask</string>
	<key>entityProxyOpacity</key>
	<string>finalStorageOpacity</string>
	<key>errorStyleContrast</key>
	<string>granularGraphBottom</string>
	<key>featureFrameworkVisible</key>
	<string>nodePhaseDuration</string>
	<key>flexibleCommandVisibility</key>
	<string>bufferAlongBridge</string>
	<key>pageviewKindFeedback</key>
	<string>gramDecoratorForce</string>
	<key>screenInterpreterFlags</key>
	<string>vectorAroundTemple</string>
</dict>
</plist>
