<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVersusParameter</key>
	<string>hashContainPlatform</string>
	<key>borderAgainstJob</key>
	<string>routerCompositeSkewx</string>
	<key>chapterTaskHue</key>
	<string>functionalLabelContrast</string>
	<key>consultativePrecisionOffset</key>
	<string>serviceLevelSpeed</string>
	<key>disparateChannelTail</key>
	<string>textThanType</string>
	<key>durationFromTask</key>
	<string>bufferWorkInset</string>
	<key>lossActionBorder</key>
	<string>tabviewAtProxy</string>
	<key>reusableDimensionInterval</key>
	<string>viewNearStructure</string>
</dict>
</plist>
