<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarSingletonOpacity</key>
	<string>hardFrameDepth</string>
	<key>configurationProxyInteraction</key>
	<string>retainedRouteMargin</string>
	<key>factoryAsAdapter</key>
	<string>behaviorViaType</string>
	<key>futureEnvironmentFeedback</key>
	<string>permissiveEquipmentStatus</string>
	<key>navigatorDecoratorSaturation</key>
	<string>entityInsideParameter</string>
	<key>requiredInterpolationShape</key>
	<string>constraintWithoutEnvironment</string>
	<key>serviceSinceFunction</key>
	<string>textureAsForm</string>
	<key>streamAlongPlatform</key>
	<string>chartAgainstVariable</string>
	<key>taskUntilLayer</key>
	<string>actionFormDelay</string>
</dict>
</plist>
