<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstEffectCount</key>
	<string>seamlessHashRight</string>
	<key>keyLocalizationShape</key>
	<string>managerFormDensity</string>
	<key>layoutPhaseName</key>
	<string>commandOfMemento</string>
	<key>parallelShaderBorder</key>
	<string>listenerThroughState</string>
	<key>persistentEntityOpacity</key>
	<string>durationProxySaturation</string>
	<key>smartDependencyForce</key>
	<string>nibStrategySkewy</string>
</dict>
</plist>
