<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorWithoutVariable</key>
	<string>standaloneTabviewSkewx</string>
	<key>compositionDecoratorSkewy</key>
	<string>momentumVersusProcess</string>
	<key>entityInsideMode</key>
	<string>managerInterpreterLocation</string>
	<key>listviewByAction</key>
	<string>memberAdapterBound</string>
	<key>modalBesideDecorator</key>
	<string>semanticsNumberHue</string>
	<key>multiplicationDespiteProcess</key>
	<string>factoryBesidePattern</string>
	<key>resultWithoutPhase</key>
	<string>sampleMediatorSize</string>
</dict>
</plist>
