<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackSingletonBound</key>
	<string>widgetFromLayer</string>
	<key>managerVisitorInteraction</key>
	<string>pivotalUtilBrightness</string>
	<key>mutableRowResponse</key>
	<string>commonRectSpacing</string>
	<key>providerAwayAdapter</key>
	<string>resultPhaseSize</string>
	<key>rolePrototypeTension</key>
	<string>topicVersusForm</string>
	<key>subscriptionForJob</key>
	<string>factoryExceptLayer</string>
</dict>
</plist>
