<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarPerFramework</key>
	<string>delicateGraphVelocity</string>
	<key>axisFormShape</key>
	<string>referenceExceptStrategy</string>
	<key>criticalCubitInterval</key>
	<string>subscriptionPatternHead</string>
	<key>marginStyleValidation</key>
	<string>exceptionAgainstAdapter</string>
	<key>mobileStrategyStyle</key>
	<string>hierarchicalGraphicPosition</string>
	<key>rapidMemberPressure</key>
	<string>tweenFormMargin</string>
	<key>reactiveLabelBehavior</key>
	<string>comprehensiveProjectionFrequency</string>
</dict>
</plist>
