<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredAwaitOrientation</key>
	<string>integerProxyColor</string>
	<key>gemOutsideFlyweight</key>
	<string>denseSkinDelay</string>
	<key>gradientContainFlyweight</key>
	<string>rectScopeDensity</string>
	<key>graphMethodBorder</key>
	<string>requiredCubeHue</string>
	<key>newestCallbackRotation</key>
	<string>channelLikeFacade</string>
	<key>positionFormDirection</key>
	<string>previewInterpreterForce</string>
	<key>timerContextFeedback</key>
	<string>axisForVisitor</string>
	<key>zoneLevelFlags</key>
	<string>modulusScopeOffset</string>
</dict>
</plist>
