<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticGetxDuration</key>
	<string>exceptionThanCycle</string>
	<key>explicitNormCoord</key>
	<string>memberDuringWork</string>
	<key>futureValueOrientation</key>
	<string>statefulStoreVisible</string>
	<key>invisibleGestureInterval</key>
	<string>labelLevelVelocity</string>
	<key>unaryActivityForce</key>
	<string>gridviewFlyweightSize</string>
	<key>workflowBeyondChain</key>
	<string>allocatorInterpreterName</string>
</dict>
</plist>
