<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileDimensionAlignment</key>
	<string>missedStorageIndex</string>
	<key>appbarContainKind</key>
	<string>constDescriptorSkewy</string>
	<key>constDurationInset</key>
	<string>firstInterfaceFormat</string>
	<key>directProjectionFlags</key>
	<string>intermediateLabelStyle</string>
	<key>framePrototypeLocation</key>
	<string>rowChainMode</string>
	<key>menuAsState</key>
	<string>controllerStyleRate</string>
	<key>operationWithMediator</key>
	<string>accordionLabelVelocity</string>
	<key>pivotalControllerKind</key>
	<string>uniformPresenterSpacing</string>
	<key>queryExceptComposite</key>
	<string>listenerBesideChain</string>
	<key>stateUntilSystem</key>
	<string>originalMobileTint</string>
</dict>
</plist>
