<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedSemanticsIndex</key>
	<string>alphaBesideActivity</string>
	<key>layerPatternPadding</key>
	<string>controllerForPrototype</string>
	<key>remainderExceptVisitor</key>
	<string>gridPlatformAppearance</string>
	<key>rowInterpreterFeedback</key>
	<string>statelessInkwellScale</string>
	<key>synchronousHeroOrigin</key>
	<string>cubitContainPhase</string>
</dict>
</plist>
