<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorInsideStyle</key>
	<string>handlerPerObserver</string>
	<key>entityFlyweightDirection</key>
	<string>difficultCanvasTint</string>
	<key>entityWithoutKind</key>
	<string>textSinceState</string>
	<key>ephemeralServicePressure</key>
	<string>layoutVarInterval</string>
	<key>heapBesideScope</key>
	<string>inkwellNearProxy</string>
	<key>inactiveSineRotation</key>
	<string>significantChartDirection</string>
	<key>similarRectFormat</key>
	<string>permanentGramRight</string>
	<key>textfieldObserverRate</key>
	<string>listviewVersusBuffer</string>
</dict>
</plist>
