<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeChannelInteraction</key>
	<string>diffableReducerStatus</string>
	<key>layerTierFrequency</key>
	<string>eagerOffsetName</string>
	<key>mediocreTitleBound</key>
	<string>zoneKindShade</string>
	<key>pointInMode</key>
	<string>labelAroundStyle</string>
	<key>radiusDecoratorColor</key>
	<string>queryThanWork</string>
</dict>
</plist>
