<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellEnvironmentVisibility</key>
	<string>basicSpecifierForce</string>
	<key>checklistThroughPhase</key>
	<string>graphFlyweightSize</string>
	<key>futureLikeFlyweight</key>
	<string>completerTempleVisible</string>
	<key>intensityInJob</key>
	<string>mediaActivityIndex</string>
	<key>labelInsideParam</key>
	<string>standaloneWidgetDuration</string>
	<key>materialStructureTransparency</key>
	<string>behaviorAgainstValue</string>
	<key>providerFrameworkTransparency</key>
	<string>channelStateRate</string>
	<key>responseDuringObserver</key>
	<string>compositionalRoleOffset</string>
	<key>streamInsideForm</key>
	<string>ternaryWithoutFlyweight</string>
</dict>
</plist>
