<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationForMediator</key>
	<string>playbackFrameworkShape</string>
	<key>flexiblePositionOffset</key>
	<string>webCurveFeedback</string>
	<key>intensityAroundVisitor</key>
	<string>paddingBesideVar</string>
	<key>transformerPhaseSaturation</key>
	<string>synchronousProfileMomentum</string>
	<key>transitionByLayer</key>
	<string>queryMediatorResponse</string>
</dict>
</plist>
