<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGroupOrientation</key>
	<string>geometricOverlayForce</string>
	<key>capacitiesEnvironmentLocation</key>
	<string>cardFormDirection</string>
	<key>durationTaskInteraction</key>
	<string>sineVarShade</string>
	<key>navigationInCommand</key>
	<string>semanticsPrototypeValidation</string>
	<key>nodeBesidePattern</key>
	<string>effectBesideObserver</string>
	<key>permissiveUsecaseMomentum</key>
	<string>draggableBulletPosition</string>
	<key>resilientConfigurationDelay</key>
	<string>controllerThanStage</string>
	<key>secondIsolateDelay</key>
	<string>symbolMediatorFlags</string>
	<key>techniqueProcessSpacing</key>
	<string>sceneBesideStage</string>
</dict>
</plist>
