<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedResourceInset</key>
	<string>flexExceptMemento</string>
	<key>basicTweenTag</key>
	<string>discardedTweenTag</string>
	<key>invisibleAsyncMargin</key>
	<string>significantThemeValidation</string>
	<key>mutableHeapBound</key>
	<string>intermediateProviderType</string>
	<key>nextDelegateFlags</key>
	<string>exceptionFrameworkCenter</string>
	<key>petOfMemento</key>
	<string>prevOffsetDistance</string>
	<key>queryParameterTag</key>
	<string>basicFrameFlags</string>
	<key>remainderValueTransparency</key>
	<string>customizedConstraintTag</string>
	<key>resolverBufferLocation</key>
	<string>borderStageKind</string>
	<key>skirtAboutBuffer</key>
	<string>awaitVersusVisitor</string>
</dict>
</plist>
