<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedInterpolationTop</key>
	<string>symbolParameterRotation</string>
	<key>drawerAboutCommand</key>
	<string>builderPatternBrightness</string>
	<key>enabledConstraintState</key>
	<string>denseCoordinatorAlignment</string>
	<key>graphOutsideBuffer</key>
	<string>compositionalProtocolVisible</string>
	<key>graphSingletonDepth</key>
	<string>observerTempleLocation</string>
	<key>layerTypeRight</key>
	<string>diversifiedProgressbarVisibility</string>
	<key>radioMediatorShape</key>
	<string>animatedActionVisible</string>
	<key>seamlessSingletonMomentum</key>
	<string>normalEffectSaturation</string>
</dict>
</plist>
