<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAboutContext</key>
	<string>matrixShapeInterval</string>
	<key>capsuleThroughProxy</key>
	<string>discardedGesturedetectorTheme</string>
	<key>concurrentInjectionFrequency</key>
	<string>binaryPerInterpreter</string>
	<key>graphicIncludeKind</key>
	<string>buttonInActivity</string>
	<key>localizationViaNumber</key>
	<string>substantialLayoutTint</string>
	<key>modelParameterLocation</key>
	<string>cupertinoMarginDuration</string>
	<key>tensorCapsuleFormat</key>
	<string>errorDuringType</string>
</dict>
</plist>
