<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferShapeDelay</key>
	<string>normTierFormat</string>
	<key>builderCommandHue</key>
	<string>gateFromFlyweight</string>
	<key>geometricBuilderLeft</key>
	<string>cartesianTouchColor</string>
	<key>missedPopupInset</key>
	<string>segueThroughTask</string>
	<key>richtextLayerAlignment</key>
	<string>buttonMethodShade</string>
	<key>streamWithoutBuffer</key>
	<string>activatedPointEdge</string>
	<key>substantialTitleAlignment</key>
	<string>textureBridgeStatus</string>
</dict>
</plist>
