<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPositionAlignment</key>
	<string>tensorConsumerOrientation</string>
	<key>interfaceAdapterCoord</key>
	<string>widgetIncludeContext</string>
	<key>masterDecoratorMode</key>
	<string>queueOperationSkewx</string>
	<key>pointBeyondEnvironment</key>
	<string>inkwellFlyweightPosition</string>
	<key>presenterUntilMode</key>
	<string>geometricBinaryMomentum</string>
	<key>singleCoordinatorFlags</key>
	<string>animatedcontainerSingletonLeft</string>
</dict>
</plist>
