<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAndState</key>
	<string>taskInFramework</string>
	<key>assetDuringCycle</key>
	<string>explicitStatelessVelocity</string>
	<key>backwardStreamEdge</key>
	<string>grayscaleForKind</string>
	<key>discardedResponseDistance</key>
	<string>iterativeCompleterBottom</string>
	<key>eagerLossInset</key>
	<string>painterWithoutLayer</string>
	<key>gridPerJob</key>
	<string>ignoredIntegerRate</string>
	<key>iterativeConfigurationPressure</key>
	<string>gridviewWithScope</string>
	<key>matrixAtLevel</key>
	<string>presenterVersusActivity</string>
	<key>paddingScopeCoord</key>
	<string>cacheAmongPhase</string>
	<key>subsequentLayoutResponse</key>
	<string>resolverPerMediator</string>
</dict>
</plist>
