<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphIncludeScope</key>
	<string>transitionObserverScale</string>
	<key>labelPatternResponse</key>
	<string>sortedBaselineRight</string>
	<key>missedStepVelocity</key>
	<string>factoryAsFunction</string>
	<key>routerStateBehavior</key>
	<string>clipperPrototypeResponse</string>
	<key>widgetShapeSpacing</key>
	<string>allocatorDuringSystem</string>
</dict>
</plist>
