<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateCompositionLeft</key>
	<string>layoutVersusFacade</string>
	<key>listviewAtScope</key>
	<string>cycleVersusFramework</string>
	<key>matrixPlatformAlignment</key>
	<string>completerInterpreterIndex</string>
	<key>nodeChainCount</key>
	<string>assetWorkResponse</string>
	<key>parallelSliderVisible</key>
	<string>multiplicationWithFunction</string>
	<key>requestThroughJob</key>
	<string>methodDecoratorPressure</string>
</dict>
</plist>
