<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedVariantDuration</key>
	<string>lossForComposite</string>
	<key>adaptiveCubitOpacity</key>
	<string>grayscaleLayerBottom</string>
	<key>constNotifierVelocity</key>
	<string>errorLikeComposite</string>
	<key>localRouteCount</key>
	<string>storyboardPlatformLeft</string>
	<key>overlayAlongStructure</key>
	<string>utilJobLeft</string>
	<key>primaryStateTension</key>
	<string>checklistShapeCount</string>
	<key>routeContextVelocity</key>
	<string>configurationThanPhase</string>
	<key>seamlessReductionScale</key>
	<string>reactiveGateContrast</string>
	<key>sizedboxAsState</key>
	<string>commonRepositoryForce</string>
</dict>
</plist>
