<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventActivityBrightness</key>
	<string>mediocreResourceCenter</string>
	<key>frameAdapterType</key>
	<string>symbolBesideAction</string>
	<key>graphicEnvironmentCenter</key>
	<string>sceneModeAlignment</string>
	<key>iterativeLogarithmName</key>
	<string>staticRowStyle</string>
	<key>modelBesideTemple</key>
	<string>segueDespiteParam</string>
	<key>playbackNearMode</key>
	<string>constServiceOrigin</string>
	<key>serviceAsMemento</key>
	<string>momentumAtStructure</string>
	<key>topicBesidePhase</key>
	<string>modelAndChain</string>
	<key>zoneVisitorHead</key>
	<string>textContainProcess</string>
</dict>
</plist>
