<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateParameterTail</key>
	<string>curveDespiteVariable</string>
	<key>descriptionBridgeDepth</key>
	<string>sophisticatedIndicatorDirection</string>
	<key>fragmentNumberOrientation</key>
	<string>sliderFlyweightDepth</string>
	<key>globalReducerHead</key>
	<string>callbackFrameworkColor</string>
	<key>mutableLocalizationIndex</key>
	<string>apertureThroughParameter</string>
	<key>rapidTweenStatus</key>
	<string>sineThanContext</string>
	<key>requestChainAlignment</key>
	<string>largeErrorOffset</string>
	<key>substantialButtonState</key>
	<string>durationAroundContext</string>
</dict>
</plist>
