<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentConfigurationName</key>
	<string>resultParamStyle</string>
	<key>interactorThroughMode</key>
	<string>contractionInActivity</string>
	<key>labelOfParam</key>
	<string>delicateIntegerAcceleration</string>
	<key>mediocrePlaybackLocation</key>
	<string>beginnerStampResponse</string>
</dict>
</plist>
