<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintForPattern</key>
	<string>specifySensorInterval</string>
	<key>desktopPaddingPressure</key>
	<string>monsterJobTail</string>
	<key>greatProjectionFormat</key>
	<string>sortedBuilderState</string>
	<key>intermediateVectorHue</key>
	<string>animatedcontainerAtTemple</string>
	<key>opaqueMarginSpacing</key>
	<string>zoneValueRotation</string>
	<key>popupFlyweightSpeed</key>
	<string>singletonOfChain</string>
	<key>resolverAgainstMediator</key>
	<string>sizeWithParameter</string>
	<key>spineValueShade</key>
	<string>draggableNotificationSpacing</string>
	<key>spriteNearMode</key>
	<string>errorEnvironmentCount</string>
	<key>viewJobResponse</key>
	<string>featureOutsideEnvironment</string>
</dict>
</plist>
