<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>substantialAllocatorValidation</key>
	<string>blocNearTask</string>
	<key>tickerParameterTension</key>
	<string>signatureVarTail</string>
	<key>transitionAmongLevel</key>
	<string>immediateIntensityCenter</string>
</dict>
</plist>
