<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThanCommand</key>
	<string>interpolationPlatformPressure</string>
	<key>decorationWithoutDecorator</key>
	<string>workflowPrototypeIndex</string>
	<key>discardedDrawerBound</key>
	<string>catalystExceptStrategy</string>
	<key>granularCanvasHue</key>
	<string>cubeVariableLeft</string>
	<key>largeHashDepth</key>
	<string>skinPerPhase</string>
	<key>navigationAwayVariable</key>
	<string>hyperbolicGrainCenter</string>
	<key>popupActionBehavior</key>
	<string>textureVisitorLocation</string>
	<key>ternaryByTier</key>
	<string>mediaqueryUntilSingleton</string>
</dict>
</plist>
