<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialSignStyle</key>
	<string>flexibleWidgetOrientation</string>
	<key>singleScreenLeft</key>
	<string>commandStructureType</string>
</dict>
</plist>
