<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFunctionAlignment</key>
	<string>sessionInterpreterVisible</string>
	<key>granularMatrixMomentum</key>
	<string>invisiblePositionedValidation</string>
	<key>multiPopupDirection</key>
	<string>dropdownbuttonEnvironmentName</string>
	<key>optionAndOperation</key>
	<string>navigatorSinceVisitor</string>
	<key>parallelStampTail</key>
	<string>consumerFunctionShade</string>
</dict>
</plist>
