<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTextHue</key>
	<string>errorInStrategy</string>
	<key>behaviorTypeStyle</key>
	<string>difficultPopupName</string>
	<key>channelExceptParameter</key>
	<string>ephemeralChartCoord</string>
	<key>durationWorkKind</key>
	<string>graphicWithoutPlatform</string>
	<key>graphicCycleOpacity</key>
	<string>layerStrategyValidation</string>
	<key>operationUntilDecorator</key>
	<string>extensionStrategyKind</string>
	<key>resultForState</key>
	<string>hierarchicalCompleterCoord</string>
	<key>slashSinceShape</key>
	<string>immutableModalDirection</string>
	<key>textureActionSpeed</key>
	<string>profileIncludeForm</string>
</dict>
</plist>
