<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteGetxTop</key>
	<string>durationByFlyweight</string>
	<key>layoutStageScale</key>
	<string>oldAxisStatus</string>
	<key>sophisticatedFutureResponse</key>
	<string>boxThroughPlatform</string>
</dict>
</plist>
