<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constStackVelocity</key>
	<string>factoryByTier</string>
	<key>containerTypeMode</key>
	<string>retainedCompletionDistance</string>
	<key>dynamicGridviewType</key>
	<string>mobileWithMemento</string>
	<key>greatAsyncHead</key>
	<string>usecaseUntilScope</string>
	<key>handlerEnvironmentForce</key>
	<string>builderContextLeft</string>
	<key>nibInsideProxy</key>
	<string>viewAboutSingleton</string>
	<key>reactiveConstraintBound</key>
	<string>imageForTier</string>
</dict>
</plist>
