<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateObserverFlags</key>
	<string>topicPlatformBehavior</string>
	<key>exponentAndVar</key>
	<string>asyncStoryboardDepth</string>
	<key>fixedChapterScale</key>
	<string>controllerExceptProxy</string>
	<key>inactiveSpotHue</key>
	<string>textCycleStyle</string>
	<key>lastMusicEdge</key>
	<string>routeAtTier</string>
	<key>multiLayerColor</key>
	<string>permanentCosineTension</string>
	<key>navigatorSingletonPadding</key>
	<string>callbackAndMode</string>
	<key>rowActionLocation</key>
	<string>heapPerTemple</string>
</dict>
</plist>
