<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystAboutProxy</key>
	<string>queueKindSpeed</string>
	<key>dimensionLikeParam</key>
	<string>bulletDuringFacade</string>
	<key>disparateSwiftOpacity</key>
	<string>labelFunctionInset</string>
	<key>fixedTransitionTransparency</key>
	<string>concreteTouchBound</string>
	<key>gridStageLeft</key>
	<string>euclideanTaskDirection</string>
	<key>movementAgainstValue</key>
	<string>chapterFacadeBottom</string>
	<key>priorCardInteraction</key>
	<string>integerAndEnvironment</string>
	<key>rapidReducerVisibility</key>
	<string>iterativeCommandAppearance</string>
	<key>streamContainStrategy</key>
	<string>pivotalZoneVisible</string>
	<key>transitionContextOrientation</key>
	<string>unsortedSpriteDepth</string>
</dict>
</plist>
