<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnContainMemento</key>
	<string>compositionalAspectratioInset</string>
	<key>requiredMusicTheme</key>
	<string>optimizerMementoBorder</string>
	<key>sceneLevelResponse</key>
	<string>awaitFlyweightDensity</string>
	<key>singletonWorkOrientation</key>
	<string>normCommandInteraction</string>
</dict>
</plist>
