<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeTextTint</key>
	<string>dynamicGetxTail</string>
	<key>sharedDrawerCenter</key>
	<string>asynchronousTweenCount</string>
	<key>symbolFacadeSpacing</key>
	<string>curveFlyweightLeft</string>
</dict>
</plist>
