<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorJobOpacity</key>
	<string>opaquePopupLocation</string>
	<key>convolutionModeFlags</key>
	<string>navigatorSinceFramework</string>
	<key>euclideanCompositionTheme</key>
	<string>storageChainKind</string>
	<key>nativeUtilBrightness</key>
	<string>featureNearCommand</string>
	<key>requiredNormContrast</key>
	<string>buttonAlongMethod</string>
	<key>rowPrototypeSkewx</key>
	<string>mediumShaderTop</string>
	<key>sustainableObserverVisibility</key>
	<string>intensityExceptSingleton</string>
	<key>transitionTierVisible</key>
	<string>chapterPhaseSkewx</string>
</dict>
</plist>
