<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerMediatorShade</key>
	<string>explicitBaseVelocity</string>
	<key>monsterBesideSingleton</key>
	<string>sizeAmongStage</string>
	<key>parallelCatalystSpacing</key>
	<string>descriptionInterpreterIndex</string>
	<key>respectiveBaselinePadding</key>
	<string>resolverThroughOperation</string>
	<key>riverpodVarState</key>
	<string>titleBesidePhase</string>
	<key>secondModulusDirection</key>
	<string>widgetTypeValidation</string>
</dict>
</plist>
