<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerPageviewOrientation</key>
	<string>baselineThroughChain</string>
	<key>catalystAwayStrategy</key>
	<string>priorityTierPadding</string>
	<key>hyperbolicGesturedetectorDelay</key>
	<string>topicProcessDirection</string>
	<key>mediaqueryAsPhase</key>
	<string>transitionThroughParam</string>
</dict>
</plist>
