<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFromPrototype</key>
	<string>featureExceptState</string>
	<key>cupertinoProgressbarColor</key>
	<string>sizeStageCoord</string>
	<key>dialogsFunctionColor</key>
	<string>channelSinceEnvironment</string>
	<key>optionOrBridge</key>
	<string>cartesianMarginState</string>
	<key>permissiveProgressbarDelay</key>
	<string>channelFormOpacity</string>
	<key>previewStyleDelay</key>
	<string>blocIncludeLevel</string>
	<key>vectorPhaseAppearance</key>
	<string>skinBeyondPlatform</string>
</dict>
</plist>
