<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableClipperVelocity</key>
	<string>buttonModeFlags</string>
	<key>newestLayerMode</key>
	<string>requestBridgeAlignment</string>
	<key>requiredUsecaseShape</key>
	<string>variantMethodDensity</string>
	<key>smartCapacitiesResponse</key>
	<string>resilientSubscriptionDistance</string>
	<key>specifierActionDirection</key>
	<string>themeFlyweightTint</string>
	<key>transformerEnvironmentContrast</key>
	<string>actionAwayBuffer</string>
</dict>
</plist>
