<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationDecoratorContrast</key>
	<string>mediumTickerDirection</string>
	<key>dynamicMobxValidation</key>
	<string>arithmeticDuringBridge</string>
	<key>presenterAgainstNumber</key>
	<string>delicateBoxshadowSpacing</string>
	<key>scaleAboutVariable</key>
	<string>mainTweenTag</string>
	<key>tableWorkShape</key>
	<string>mobileRichtextCoord</string>
</dict>
</plist>
