<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentContainSingleton</key>
	<string>storyboardLayerPosition</string>
	<key>cellFunctionTag</key>
	<string>commandFacadeTransparency</string>
	<key>musicStructureRight</key>
	<string>activityInterpreterBottom</string>
	<key>numericalLabelFormat</key>
	<string>imperativeMomentumInteraction</string>
	<key>pivotalDelegateShade</key>
	<string>controllerThanObserver</string>
	<key>rowDespitePhase</key>
	<string>transitionVisitorInteraction</string>
	<key>skinUntilPlatform</key>
	<string>hyperbolicPopupSpacing</string>
	<key>taskWorkBound</key>
	<string>numericalTaskInset</string>
	<key>ternaryInJob</key>
	<string>gateProxyForce</string>
	<key>transitionOutsideComposite</key>
	<string>otherTopicFeedback</string>
</dict>
</plist>
