<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheBesideMode</key>
	<string>explicitTextureAcceleration</string>
	<key>disabledRouteFlags</key>
	<string>certificateContainDecorator</string>
	<key>displayableCheckboxPosition</key>
	<string>respectiveTextHead</string>
	<key>graphicExceptAdapter</key>
	<string>actionWithoutForm</string>
	<key>listenerAroundMediator</key>
	<string>buttonEnvironmentVisible</string>
	<key>mutableChartHue</key>
	<string>nibMethodFormat</string>
	<key>notificationLikeTier</key>
	<string>curveParameterPressure</string>
	<key>persistentMobileSkewx</key>
	<string>queryAroundParameter</string>
	<key>rapidBufferPressure</key>
	<string>menuJobHue</string>
	<key>semanticReductionFrequency</key>
	<string>inactiveArithmeticForce</string>
</dict>
</plist>
