<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioVariableShade</key>
	<string>consultativeEntityState</string>
	<key>durationNumberPosition</key>
	<string>comprehensiveOverlayShape</string>
	<key>momentumFunctionTail</key>
	<string>injectionFacadeLeft</string>
	<key>storeActivityFeedback</key>
	<string>associatedRequestOrientation</string>
	<key>unactivatedMonsterVisible</key>
	<string>curveStrategySkewy</string>
</dict>
</plist>
