<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pageviewFromPhase</key>
	<string>sliderBeyondComposite</string>
	<key>primaryConvolutionStyle</key>
	<string>sizeMementoRate</string>
	<key>taskScopeOffset</key>
	<string>prevThreadInteraction</string>
</dict>
</plist>
