<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageCommandTail</key>
	<string>taskValueInterval</string>
	<key>menuDespiteJob</key>
	<string>drawerStateOffset</string>
	<key>metadataAsComposite</key>
	<string>materialShapeMomentum</string>
	<key>profileActivityAppearance</key>
	<string>robustCoordinatorTail</string>
	<key>unaryExceptPattern</key>
	<string>comprehensivePopupAlignment</string>
</dict>
</plist>
