<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDelegateHead</key>
	<string>taskThroughPlatform</string>
	<key>desktopResourceRight</key>
	<string>kernelOutsideStyle</string>
	<key>equipmentTempleStatus</key>
	<string>radiusThanProxy</string>
	<key>errorTierVelocity</key>
	<string>nativeExtensionAcceleration</string>
	<key>sceneExceptTemple</key>
	<string>backwardBuilderFormat</string>
	<key>storyboardLevelTag</key>
	<string>scrollActivityTheme</string>
	<key>subsequentSlashColor</key>
	<string>delegateOutsideParameter</string>
	<key>tickerStyleFrequency</key>
	<string>cupertinoDropdownbuttonOrientation</string>
</dict>
</plist>
