<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineTaskOffset</key>
	<string>curveBeyondParam</string>
	<key>commandFrameworkResponse</key>
	<string>boxStyleKind</string>
	<key>groupFromScope</key>
	<string>interactiveContainerVelocity</string>
</dict>
</plist>
