<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeInteractorFeedback</key>
	<string>navigatorStructureDepth</string>
	<key>gramAsSystem</key>
	<string>equipmentBufferShape</string>
	<key>pageviewExceptNumber</key>
	<string>mapForAdapter</string>
</dict>
</plist>
