<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderByJob</key>
	<string>notificationSingletonTop</string>
	<key>customizedCompleterColor</key>
	<string>resilientStoryboardDelay</string>
	<key>denseIconResponse</key>
	<string>requiredSingletonTag</string>
	<key>featureExceptTier</key>
	<string>drawerViaShape</string>
	<key>symmetricAsyncDensity</key>
	<string>diffableParticleInterval</string>
	<key>titleInterpreterTail</key>
	<string>prevDependencyDistance</string>
</dict>
</plist>
