<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSkirtDistance</key>
	<string>hardMenuShade</string>
	<key>durationPerFunction</key>
	<string>configurationStateShape</string>
	<key>equipmentShapeInteraction</key>
	<string>previewLevelStyle</string>
	<key>explicitNavigatorMargin</key>
	<string>logWithPrototype</string>
	<key>intuitivePopupLeft</key>
	<string>grayscaleBridgeShape</string>
	<key>logarithmOrFramework</key>
	<string>modelDespiteInterpreter</string>
	<key>menuBesideFunction</key>
	<string>modulusPlatformIndex</string>
	<key>sliderWorkMargin</key>
	<string>mobileDespiteDecorator</string>
</dict>
</plist>
