<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapMementoValidation</key>
	<string>anchorValueScale</string>
	<key>methodPrototypeRate</key>
	<string>declarativeTimerAppearance</string>
	<key>singleFutureSize</key>
	<string>streamNumberVisible</string>
	<key>tensorStatelessFormat</key>
	<string>interactiveStreamDelay</string>
</dict>
</plist>
