<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFacadeAlignment</key>
	<string>delegateBridgeShape</string>
	<key>boxStateHue</key>
	<string>numericalCapsuleAlignment</string>
	<key>finalListenerBorder</key>
	<string>challengeCompositeAppearance</string>
	<key>stackByAdapter</key>
	<string>fixedDelegateAppearance</string>
</dict>
</plist>
