<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentMenuValidation</key>
	<string>textureForSingleton</string>
	<key>optionTierBound</key>
	<string>layoutProxyFlags</string>
	<key>relationalNavigatorTop</key>
	<string>nibPlatformBottom</string>
	<key>responseAdapterMargin</key>
	<string>queueWithoutWork</string>
	<key>scrollableAwaitBottom</key>
	<string>immediateRouterInterval</string>
	<key>staticTaskForce</key>
	<string>imageDecoratorPosition</string>
</dict>
</plist>
