<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>histogramStateMargin</key>
	<string>variantBesideOperation</string>
	<key>observerActionStatus</key>
	<string>menuJobSpacing</string>
	<key>pageviewUntilSystem</key>
	<string>standaloneProjectAcceleration</string>
	<key>queryDecoratorTransparency</key>
	<string>isolateByDecorator</string>
	<key>queryDespiteMediator</key>
	<string>staticCompleterAppearance</string>
	<key>requestAboutDecorator</key>
	<string>subtleResolverAlignment</string>
	<key>threadWithFacade</key>
	<string>containerLevelName</string>
	<key>visibleConstraintInteraction</key>
	<string>interfaceEnvironmentResponse</string>
</dict>
</plist>
