<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionSingletonLocation</key>
	<string>baselineLevelSpeed</string>
	<key>euclideanRowShade</key>
	<string>nodeNearMethod</string>
	<key>graphicLikePlatform</key>
	<string>notifierNumberType</string>
	<key>managerNearDecorator</key>
	<string>radioPatternColor</string>
	<key>riverpodByMemento</key>
	<string>progressbarVariableRotation</string>
	<key>sliderExceptChain</key>
	<string>activeResolverDistance</string>
	<key>spineAdapterKind</key>
	<string>nodeOfShape</string>
	<key>staticSkinContrast</key>
	<string>instructionLikeJob</string>
	<key>titleAroundJob</key>
	<string>brushTaskSize</string>
	<key>widgetProcessFrequency</key>
	<string>sortedIntensityAlignment</string>
</dict>
</plist>
