<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystAmongComposite</key>
	<string>durationContextTint</string>
	<key>interfaceBesideCycle</key>
	<string>factoryFunctionBehavior</string>
	<key>retainedStoreBottom</key>
	<string>layoutForForm</string>
</dict>
</plist>
