<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryAlongFacade</key>
	<string>symbolStyleInset</string>
	<key>futureUntilShape</key>
	<string>adaptiveInterpolationFormat</string>
	<key>hashAtStyle</key>
	<string>richtextAwayPhase</string>
	<key>hyperbolicMaterialVisibility</key>
	<string>pivotalSegmentSpacing</string>
	<key>injectionStructureAcceleration</key>
	<string>protocolFacadeRotation</string>
	<key>lastStorageIndex</key>
	<string>invisibleSliderDuration</string>
	<key>menuLayerEdge</key>
	<string>coordinatorLayerOpacity</string>
	<key>missionThanSingleton</key>
	<string>presenterAmongState</string>
	<key>symbolIncludeShape</key>
	<string>stateOrEnvironment</string>
</dict>
</plist>
