<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAgainstForm</key>
	<string>modelTierSpeed</string>
	<key>groupObserverHue</key>
	<string>taskStrategyAcceleration</string>
	<key>interfaceAroundStrategy</key>
	<string>draggableVectorCoord</string>
	<key>lossTierVisibility</key>
	<string>mutablePreviewEdge</string>
	<key>mutableMaterialMargin</key>
	<string>remainderOfTemple</string>
	<key>taskProxyState</key>
	<string>euclideanDrawerTension</string>
</dict>
</plist>
