<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseVarSkewy</key>
	<string>substantialButtonBorder</string>
	<key>blocThroughProxy</key>
	<string>durationTierTransparency</string>
	<key>callbackTierFeedback</key>
	<string>projectionSingletonVelocity</string>
	<key>composableMemberTension</key>
	<string>delicateSwitchIndex</string>
	<key>customCompletionValidation</key>
	<string>scaffoldAtProcess</string>
	<key>labelOrMemento</key>
	<string>textfieldOperationKind</string>
	<key>prevPlaybackRight</key>
	<string>autoModelShape</string>
	<key>promiseProcessCoord</key>
	<string>exceptionProxyStatus</string>
	<key>requestSinceDecorator</key>
	<string>futureDuringFlyweight</string>
</dict>
</plist>
