<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationContainCommand</key>
	<string>logarithmKindRight</string>
	<key>asyncWithoutTask</key>
	<string>inactiveSceneHead</string>
	<key>marginEnvironmentBehavior</key>
	<string>iterativeCupertinoCount</string>
	<key>pivotalMemberDelay</key>
	<string>customFactoryEdge</string>
	<key>resourceWithoutScope</key>
	<string>cartesianRepositoryCoord</string>
	<key>roleLayerAppearance</key>
	<string>pinchableTextureDensity</string>
	<key>subtleEntityLeft</key>
	<string>immutableAlignmentScale</string>
	<key>symmetricFrameRight</key>
	<string>directPopupName</string>
	<key>ternaryModeShape</key>
	<string>backwardActionKind</string>
</dict>
</plist>
