<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationAmongLayer</key>
	<string>petAlongEnvironment</string>
	<key>standalonePreviewVisibility</key>
	<string>presenterTypeOrientation</string>
	<key>stepFunctionDepth</key>
	<string>otherMultiplicationLocation</string>
	<key>uniformBitrateDepth</key>
	<string>singletonAndMemento</string>
	<key>viewAlongStyle</key>
	<string>priorSubpixelType</string>
</dict>
</plist>
