<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monsterWorkLocation</key>
	<string>resultVisitorScale</string>
	<key>nodeIncludePlatform</key>
	<string>cupertinoBuilderSkewx</string>
	<key>previewSinceOperation</key>
	<string>routeBesideAction</string>
	<key>priorTickerMomentum</key>
	<string>similarViewLeft</string>
	<key>rowInFunction</key>
	<string>repositoryFlyweightScale</string>
	<key>streamAtFlyweight</key>
	<string>gesturedetectorActionMode</string>
</dict>
</plist>
