<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constPresenterDensity</key>
	<string>permissiveStampPressure</string>
	<key>controllerDecoratorFlags</key>
	<string>persistentTitleBehavior</string>
	<key>nativeSceneTension</key>
	<string>blocTaskSkewx</string>
	<key>originalTextureSkewx</key>
	<string>positionPatternName</string>
	<key>permanentStepName</key>
	<string>batchStateResponse</string>
	<key>pinchablePositionDelay</key>
	<string>layerStatePadding</string>
	<key>rowCommandOrientation</key>
	<string>characterAdapterDistance</string>
	<key>sineFacadeBottom</key>
	<string>usageExceptJob</string>
	<key>taskOrLayer</key>
	<string>oldChecklistMomentum</string>
	<key>textureSystemRight</key>
	<string>errorAdapterInterval</string>
</dict>
</plist>
