<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAlongState</key>
	<string>transitionExceptVar</string>
	<key>significantMobxKind</key>
	<string>autoTangentRotation</string>
	<key>subsequentConfigurationBottom</key>
	<string>slashCompositeDelay</string>
	<key>tappableBaselineVisible</key>
	<string>consultativeLayerStyle</string>
</dict>
</plist>
