<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMissionInset</key>
	<string>deferredBulletStatus</string>
	<key>crudePageviewHead</key>
	<string>lastTextSkewx</string>
	<key>menuDuringSingleton</key>
	<string>gateAmongComposite</string>
	<key>prevResourceTint</key>
	<string>nodeParamHue</string>
	<key>retainedTabviewFeedback</key>
	<string>documentEnvironmentTail</string>
	<key>tickerAmongInterpreter</key>
	<string>explicitVectorTension</string>
	<key>transitionProcessRotation</key>
	<string>subscriptionUntilBuffer</string>
</dict>
</plist>
