<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerExceptType</key>
	<string>opaqueMethodVelocity</string>
	<key>graphicStageResponse</key>
	<string>frameAdapterBehavior</string>
	<key>groupInsideTemple</key>
	<string>substantialProviderSkewx</string>
	<key>lazyTickerLeft</key>
	<string>immediateRemainderDistance</string>
	<key>mobileBlocLeft</key>
	<string>arithmeticCardSpacing</string>
	<key>modelCompositeRight</key>
	<string>channelFormShape</string>
	<key>numericalAnimatedcontainerBehavior</key>
	<string>skirtSinceOperation</string>
	<key>positionStateSize</key>
	<string>comprehensiveUtilDensity</string>
	<key>protectedCharacterDensity</key>
	<string>responseMediatorPressure</string>
	<key>screenChainIndex</key>
	<string>unsortedListenerFrequency</string>
</dict>
</plist>
