<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsScopeInterval</key>
	<string>nodeAgainstMediator</string>
	<key>fusedStreamDelay</key>
	<string>parallelMonsterOffset</string>
	<key>navigatorKindMode</key>
	<string>nextVectorName</string>
	<key>uniqueControllerStatus</key>
	<string>asynchronousLayerCount</string>
</dict>
</plist>
