<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRectIndex</key>
	<string>effectFunctionSkewx</string>
	<key>durationEnvironmentState</key>
	<string>blocSingletonBehavior</string>
	<key>projectNearBridge</key>
	<string>controllerEnvironmentDirection</string>
	<key>repositoryOrValue</key>
	<string>serviceAboutOperation</string>
	<key>resourceDespiteValue</key>
	<string>localizationDuringCommand</string>
	<key>seamlessTextfieldRotation</key>
	<string>materialAlongPlatform</string>
</dict>
</plist>
