<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarSingletonState</key>
	<string>flexibleDecorationBorder</string>
	<key>fixedDurationAppearance</key>
	<string>resultAtPattern</string>
	<key>presenterPlatformDepth</key>
	<string>advancedAlphaHead</string>
	<key>providerAtFacade</key>
	<string>inheritedPetBorder</string>
	<key>rectMementoBrightness</key>
	<string>buttonAgainstProxy</string>
	<key>scaffoldAboutVariable</key>
	<string>queueFromShape</string>
	<key>skinLikeContext</key>
	<string>skinSystemIndex</string>
	<key>streamObserverBorder</key>
	<string>cubitExceptState</string>
</dict>
</plist>
