<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveDuringPattern</key>
	<string>staticActionIndex</string>
	<key>delegateAdapterRotation</key>
	<string>overlayObserverSaturation</string>
	<key>euclideanLogarithmPosition</key>
	<string>specifyModulusDensity</string>
	<key>resizableBitrateInset</key>
	<string>elasticEventInteraction</string>
	<key>sceneBufferForce</key>
	<string>storageAndStyle</string>
	<key>specifyPageviewRight</key>
	<string>curveExceptFlyweight</string>
	<key>taskForShape</key>
	<string>standaloneCertificateOffset</string>
</dict>
</plist>
