<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationAndWork</key>
	<string>storeParamTail</string>
	<key>containerTypeVisible</key>
	<string>radiusScopeMargin</string>
	<key>desktopGraphicCount</key>
	<string>sensorForType</string>
	<key>firstControllerName</key>
	<string>errorDuringLevel</string>
	<key>loopInScope</key>
	<string>tappableRectFeedback</string>
	<key>resilientSwiftBorder</key>
	<string>fusedDimensionVisibility</string>
</dict>
</plist>
