<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnContextDelay</key>
	<string>elasticMaterialBehavior</string>
	<key>entityAndParam</key>
	<string>entropyStagePressure</string>
	<key>gestureFrameworkType</key>
	<string>pageviewProxyDistance</string>
	<key>graphProcessState</key>
	<string>viewShapeVelocity</string>
	<key>hashForFlyweight</key>
	<string>taskTypeType</string>
	<key>modelWithoutMediator</key>
	<string>methodTempleResponse</string>
	<key>resourceFlyweightFeedback</key>
	<string>baseContainPrototype</string>
	<key>threadStrategyState</key>
	<string>agileMovementSpeed</string>
</dict>
</plist>
