<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsMethod</key>
	<string>batchViaBuffer</string>
	<key>cubitProxyTension</key>
	<string>cartesianAlignmentInset</string>
	<key>curveOutsideTemple</key>
	<string>gesturedetectorDuringStage</string>
	<key>managerMediatorTint</key>
	<string>menuCycleOffset</string>
	<key>seamlessTopicTransparency</key>
	<string>labelAgainstPlatform</string>
	<key>spriteDuringParameter</key>
	<string>promiseOutsideOperation</string>
	<key>streamWithoutStrategy</key>
	<string>cellCommandType</string>
</dict>
</plist>
