<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonDuringLayer</key>
	<string>missionKindInset</string>
	<key>controllerActionFrequency</key>
	<string>stateChainVisibility</string>
	<key>descriptorOperationTension</key>
	<string>interpolationBesideMemento</string>
	<key>persistentStampSkewx</key>
	<string>diffableObserverStyle</string>
	<key>reusableMatrixStatus</key>
	<string>matrixThroughLayer</string>
	<key>roleBeyondPhase</key>
	<string>gesturedetectorSincePlatform</string>
	<key>textureCycleTheme</key>
	<string>animationDespiteFunction</string>
</dict>
</plist>
