<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncPatternDepth</key>
	<string>localizationVersusWork</string>
	<key>displayableCoordinatorVisibility</key>
	<string>aspectratioTempleDistance</string>
	<key>dropdownbuttonJobState</key>
	<string>subpixelContextSaturation</string>
	<key>interpolationAdapterPadding</key>
	<string>constTaskLocation</string>
	<key>materialGraphBorder</key>
	<string>commandBesideJob</string>
	<key>movementLevelHue</key>
	<string>responseDecoratorSpacing</string>
	<key>prismaticNotifierInteraction</key>
	<string>entropyAboutObserver</string>
	<key>repositoryFrameworkRight</key>
	<string>activatedWidgetPadding</string>
	<key>usecaseWithoutProxy</key>
	<string>hashMethodBound</string>
</dict>
</plist>
