<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintKindIndex</key>
	<string>binaryMethodAppearance</string>
	<key>displayableSkirtSpeed</key>
	<string>baselineInsideTemple</string>
	<key>gestureAndValue</key>
	<string>textThanTask</string>
	<key>localFragmentBrightness</key>
	<string>collectionViaSystem</string>
	<key>popupDecoratorPressure</key>
	<string>channelsAgainstChain</string>
</dict>
</plist>
