<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInPlatform</key>
	<string>modulusIncludeType</string>
	<key>flexVarAlignment</key>
	<string>characterAtStyle</string>
	<key>grainLikeVisitor</key>
	<string>diffableAssetBottom</string>
	<key>menuModeDistance</key>
	<string>asyncBesideAdapter</string>
	<key>optionIncludeCommand</key>
	<string>currentGrainVisibility</string>
	<key>promisePhaseCoord</key>
	<string>positionParameterValidation</string>
	<key>reductionPrototypeColor</key>
	<string>criticalNibFlags</string>
	<key>requestCommandBottom</key>
	<string>transformerLayerPadding</string>
	<key>scaleDespiteWork</key>
	<string>cartesianResolverMomentum</string>
	<key>touchOrValue</key>
	<string>backwardRepositoryTop</string>
</dict>
</plist>
