<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertUntilStructure</key>
	<string>hyperbolicCanvasAlignment</string>
	<key>appbarUntilPhase</key>
	<string>composableBuilderCenter</string>
	<key>controllerPerProxy</key>
	<string>sampleUntilTemple</string>
	<key>flexibleMultiplicationTheme</key>
	<string>modulusDuringForm</string>
	<key>imperativeBehaviorVisible</key>
	<string>euclideanTangentPosition</string>
	<key>mediaOfMemento</key>
	<string>containerFormBehavior</string>
	<key>plateThroughMode</key>
	<string>queryPatternShape</string>
	<key>requiredRoleOffset</key>
	<string>groupCompositePressure</string>
</dict>
</plist>
