<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentPaddingEdge</key>
	<string>gestureAwayOperation</string>
	<key>petIncludeMode</key>
	<string>momentumThanFunction</string>
	<key>radioForFramework</key>
	<string>isolateOutsideJob</string>
	<key>rowFrameworkOpacity</key>
	<string>interpolationAlongAdapter</string>
	<key>streamCycleOrientation</key>
	<string>declarativeChartTint</string>
	<key>techniqueOfLevel</key>
	<string>transformerAmongTask</string>
</dict>
</plist>
