<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerDecoratorMode</key>
	<string>injectionParamRight</string>
	<key>directProjectRate</key>
	<string>menuWithoutComposite</string>
	<key>mapOperationTint</key>
	<string>mediaAgainstParam</string>
	<key>observerValueHue</key>
	<string>disabledBulletHead</string>
	<key>observerWithKind</key>
	<string>errorInComposite</string>
	<key>providerActionSpacing</key>
	<string>intermediateCapacitiesAcceleration</string>
	<key>sceneAroundAction</key>
	<string>effectBeyondPrototype</string>
	<key>unsortedUnaryOffset</key>
	<string>resolverLikePhase</string>
</dict>
</plist>
