<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFrameworkCenter</key>
	<string>normalConstraintLocation</string>
	<key>bufferUntilProcess</key>
	<string>equalizationProcessVisibility</string>
	<key>denseConstraintDirection</key>
	<string>gesturedetectorTempleDirection</string>
	<key>dialogsByNumber</key>
	<string>respectiveButtonPadding</string>
	<key>diversifiedApertureStatus</key>
	<string>similarAsyncColor</string>
	<key>hardSignLocation</key>
	<string>variantNearInterpreter</string>
	<key>inactiveTweenCoord</key>
	<string>fragmentAsTier</string>
	<key>labelContainPrototype</key>
	<string>channelAlongTemple</string>
	<key>sinkCommandSpacing</key>
	<string>hyperbolicTimerEdge</string>
	<key>sophisticatedStateCount</key>
	<string>mutableMomentumPressure</string>
</dict>
</plist>
