<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsSystemShape</key>
	<string>tableNearTask</string>
	<key>cubePhaseTail</key>
	<string>resourceWithEnvironment</string>
	<key>euclideanGridLeft</key>
	<string>documentScopeHead</string>
	<key>functionalVariantSkewx</key>
	<string>scaffoldSincePlatform</string>
	<key>gridviewDespiteStrategy</key>
	<string>hashCommandTheme</string>
	<key>lazyFragmentLeft</key>
	<string>managerModeName</string>
	<key>mobxExceptBridge</key>
	<string>chartViaContext</string>
	<key>multiContractionForce</key>
	<string>semanticControllerSkewy</string>
	<key>sizeStructureOrigin</key>
	<string>transformerStyleFormat</string>
</dict>
</plist>
