<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedObserverStyle</key>
	<string>exponentStrategyIndex</string>
	<key>alphaChainState</key>
	<string>significantControllerKind</string>
	<key>curveIncludeParam</key>
	<string>spotTierPadding</string>
	<key>customizedGridviewCount</key>
	<string>pageviewNumberPosition</string>
	<key>gridDuringType</key>
	<string>nodeDuringSystem</string>
	<key>responseAndFlyweight</key>
	<string>cursorFromCommand</string>
</dict>
</plist>
