<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushFacadeTop</key>
	<string>lossAtWork</string>
	<key>comprehensiveMemberForce</key>
	<string>difficultZoneBrightness</string>
	<key>groupStructureTop</key>
	<string>symbolThroughComposite</string>
	<key>independentProgressbarSize</key>
	<string>criticalCubitCenter</string>
	<key>mediaqueryAtComposite</key>
	<string>tappableTextureVelocity</string>
	<key>offsetAboutTask</key>
	<string>multiAnimatedcontainerPressure</string>
	<key>opaqueRequestVisibility</key>
	<string>crudeNotificationPosition</string>
	<key>reducerSystemInset</key>
	<string>typicalCommandType</string>
</dict>
</plist>
