<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaVersusValue</key>
	<string>temporaryListviewVisibility</string>
	<key>chapterAtSystem</key>
	<string>permanentNibPadding</string>
	<key>characterAwayTask</key>
	<string>advancedResourceMode</string>
	<key>delegateAmongType</key>
	<string>consumerSinceObserver</string>
	<key>gridviewPhaseLocation</key>
	<string>originalAnchorSpeed</string>
	<key>injectionAlongStrategy</key>
	<string>routeBufferTail</string>
	<key>lossTempleScale</key>
	<string>containerLayerFeedback</string>
	<key>segueSystemFlags</key>
	<string>concurrentConvolutionDirection</string>
	<key>synchronousPaddingHue</key>
	<string>discardedPlateScale</string>
	<key>uniformExceptionFormat</key>
	<string>interactiveExceptionLocation</string>
</dict>
</plist>
