<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnForWork</key>
	<string>singleStreamBehavior</string>
	<key>fixedEventInterval</key>
	<string>actionScopeDuration</string>
	<key>functionalSpriteAppearance</key>
	<string>coordinatorViaStructure</string>
	<key>nibExceptTask</key>
	<string>alphaEnvironmentMargin</string>
	<key>permanentExponentLeft</key>
	<string>symbolStateVisible</string>
	<key>requiredTickerKind</key>
	<string>providerActivityInterval</string>
	<key>resolverStageDirection</key>
	<string>checklistThanOperation</string>
	<key>toolChainScale</key>
	<string>handlerSingletonMode</string>
	<key>typicalTitleTag</key>
	<string>spineObserverInset</string>
	<key>visibleInjectionMode</key>
	<string>containerByWork</string>
</dict>
</plist>
