<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAroundPhase</key>
	<string>topicScopeDuration</string>
	<key>effectWithoutKind</key>
	<string>positionActivityName</string>
	<key>gramObserverTop</key>
	<string>substantialSizeHead</string>
	<key>otherOptimizerDepth</key>
	<string>directlyBoxshadowShape</string>
	<key>providerPerProcess</key>
	<string>liteContractionTail</string>
	<key>requiredSubscriptionCoord</key>
	<string>accessoryViaPhase</string>
</dict>
</plist>
