<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonNearPattern</key>
	<string>smartMaterialRight</string>
	<key>descriptionInsideMethod</key>
	<string>tensorTweenOrigin</string>
	<key>lazyStatefulDelay</key>
	<string>skirtContainKind</string>
	<key>offsetBesideVisitor</key>
	<string>layoutVarPosition</string>
	<key>queueInterpreterOpacity</key>
	<string>symbolBeyondTask</string>
	<key>resultAndParameter</key>
	<string>observerBeyondActivity</string>
	<key>routeInsideWork</key>
	<string>basicErrorDistance</string>
	<key>scrollableGemMargin</key>
	<string>movementStyleCount</string>
	<key>tabviewJobTop</key>
	<string>nodeBesideInterpreter</string>
</dict>
</plist>
