<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPhaseMomentum</key>
	<string>controllerParameterVisible</string>
	<key>controllerProxyDepth</key>
	<string>skirtDespiteChain</string>
	<key>customStreamAcceleration</key>
	<string>liteProviderHead</string>
	<key>gesturedetectorScopeLocation</key>
	<string>rectAndChain</string>
	<key>handlerShapeLocation</key>
	<string>usageCompositeHue</string>
	<key>localizationModeScale</key>
	<string>equalizationOperationDelay</string>
	<key>marginMethodForce</key>
	<string>indicatorTempleLocation</string>
	<key>sizeBesideType</key>
	<string>radiusTaskVelocity</string>
	<key>touchFacadeTheme</key>
	<string>staticFactoryTension</string>
	<key>unactivatedWorkflowTransparency</key>
	<string>sizedboxAroundTier</string>
</dict>
</plist>
