<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>largeBinaryBehavior</key>
	<string>lazyRepositoryTop</string>
	<key>prevLossValidation</key>
	<string>explicitTextureSkewy</string>
	<key>significantSingletonSpacing</key>
	<string>previewAroundVariable</string>
	<key>toolExceptPlatform</key>
	<string>publicDelegateFrequency</string>
</dict>
</plist>
