<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintWorkAcceleration</key>
	<string>mainGraphicBottom</string>
	<key>cubeWorkTop</key>
	<string>navigatorProxyOrigin</string>
	<key>dialogsOrForm</key>
	<string>durationActivityScale</string>
	<key>mediumTextAppearance</key>
	<string>switchFormSpacing</string>
	<key>offsetVisitorBehavior</key>
	<string>sizedboxInsideJob</string>
	<key>sineOperationDelay</key>
	<string>providerVariableTop</string>
	<key>touchDespiteType</key>
	<string>capsuleBeyondJob</string>
	<key>transformerAlongFacade</key>
	<string>handlerOfSingleton</string>
</dict>
</plist>
