<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileObserverDirection</key>
	<string>scrollStyleDepth</string>
	<key>controllerObserverShape</key>
	<string>requiredFlexDepth</string>
	<key>eventParamAcceleration</key>
	<string>responsePhaseDirection</string>
	<key>gateDecoratorResponse</key>
	<string>inheritedVectorMargin</string>
	<key>gateKindDirection</key>
	<string>frameContainFramework</string>
	<key>menuForParam</key>
	<string>gateShapeInterval</string>
	<key>numericalStampMargin</key>
	<string>tangentBridgeBorder</string>
	<key>stateFunctionTop</key>
	<string>interpolationForScope</string>
	<key>statelessKernelShape</key>
	<string>inheritedGiftName</string>
</dict>
</plist>
