<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousMapSpeed</key>
	<string>requestParameterOrigin</string>
	<key>axisEnvironmentInset</key>
	<string>materialOptionMode</string>
	<key>buttonObserverTheme</key>
	<string>observerAroundType</string>
	<key>menuMethodPadding</key>
	<string>rapidResolverContrast</string>
	<key>pageviewFunctionSkewx</key>
	<string>denseMediaqueryFlags</string>
	<key>requiredRouterKind</key>
	<string>sliderAsVar</string>
	<key>skirtVariableColor</key>
	<string>bitratePerTemple</string>
	<key>variantEnvironmentVisible</key>
	<string>cacheAwayVisitor</string>
	<key>workflowInterpreterBehavior</key>
	<string>animatedEquipmentScale</string>
</dict>
</plist>
