<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionThanTemple</key>
	<string>eagerInteractorInterval</string>
	<key>fixedSceneFeedback</key>
	<string>storeTempleCount</string>
	<key>statefulFacadeDirection</key>
	<string>interfaceNumberFeedback</string>
	<key>usecaseContainMediator</key>
	<string>sineCycleDirection</string>
</dict>
</plist>
