<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPhaseTransparency</key>
	<string>hardGridMode</string>
	<key>aspectratioByMode</key>
	<string>controllerInterpreterInset</string>
	<key>frameFrameworkLeft</key>
	<string>mapStateSize</string>
	<key>remainderVariableHue</key>
	<string>resilientSizedboxContrast</string>
	<key>requestModeName</key>
	<string>materialIconAlignment</string>
	<key>resultKindInteraction</key>
	<string>matrixStateVelocity</string>
	<key>skinViaValue</key>
	<string>previewBeyondVar</string>
	<key>smallBuilderHue</key>
	<string>radiusProcessPressure</string>
	<key>smallRequestMode</key>
	<string>sessionDecoratorState</string>
	<key>substantialBlocBrightness</key>
	<string>robustConstraintVisible</string>
</dict>
</plist>
