<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianVariantVisible</key>
	<string>concurrentIntensityStyle</string>
	<key>constraintVariableOrigin</key>
	<string>errorTierBrightness</string>
	<key>desktopConfigurationVelocity</key>
	<string>movementTempleKind</string>
	<key>entityLayerKind</key>
	<string>navigationProxyType</string>
	<key>groupWorkFrequency</key>
	<string>fusedModelFeedback</string>
	<key>operationWorkAppearance</key>
	<string>protectedRoleColor</string>
	<key>pinchableCallbackPressure</key>
	<string>descriptionParamDirection</string>
	<key>transitionContainContext</key>
	<string>elasticInjectionSpacing</string>
	<key>uniformWidgetTransparency</key>
	<string>storeFrameworkStatus</string>
</dict>
</plist>
