<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateOfAction</key>
	<string>buttonChainTheme</string>
	<key>frameAtShape</key>
	<string>logarithmViaTier</string>
	<key>gestureInParam</key>
	<string>dedicatedResponseTail</string>
	<key>persistentMatrixVelocity</key>
	<string>referenceStrategyHead</string>
	<key>petPrototypeCoord</key>
	<string>cubitThanComposite</string>
</dict>
</plist>
