<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAwayMediator</key>
	<string>builderVarSaturation</string>
	<key>deferredCommandFeedback</key>
	<string>arithmeticNumberMode</string>
	<key>dropdownbuttonObserverSpacing</key>
	<string>desktopViewFormat</string>
	<key>eventCycleOrientation</key>
	<string>spineAboutStyle</string>
	<key>lastTweenTop</key>
	<string>directRowInteraction</string>
	<key>listviewPlatformInset</key>
	<string>unactivatedAssetLeft</string>
	<key>statefulProgressbarDensity</key>
	<string>requiredInterpolationRotation</string>
	<key>symmetricInteractorMargin</key>
	<string>diversifiedEquipmentPosition</string>
	<key>tableIncludeVariable</key>
	<string>subscriptionThroughTemple</string>
	<key>usecaseAroundDecorator</key>
	<string>opaquePositionedKind</string>
</dict>
</plist>
