<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureContainStyle</key>
	<string>catalystUntilPrototype</string>
	<key>integerAboutTask</key>
	<string>prismaticProviderAcceleration</string>
	<key>missedBehaviorSpeed</key>
	<string>stateDuringBuffer</string>
	<key>otherSingletonForce</key>
	<string>intermediateCertificateShape</string>
	<key>permissiveLabelKind</key>
	<string>methodOperationRotation</string>
	<key>popupBufferSpacing</key>
	<string>fixedStatelessAlignment</string>
	<key>semanticInjectionCoord</key>
	<string>mainTextType</string>
</dict>
</plist>
