<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonByInterpreter</key>
	<string>liteTouchStatus</string>
	<key>graphDespitePlatform</key>
	<string>sessionOutsideMediator</string>
	<key>lazyLossBrightness</key>
	<string>sortedAnimationType</string>
	<key>multiplicationWithoutSystem</key>
	<string>intensityParamPosition</string>
	<key>seamlessTextureVelocity</key>
	<string>localizationProxyFrequency</string>
	<key>sharedSizedboxVisible</key>
	<string>compositionalReductionTail</string>
	<key>standaloneGradientOffset</key>
	<string>relationalViewSpeed</string>
	<key>subscriptionParameterTag</key>
	<string>rapidTransformerTheme</string>
	<key>tappableSignatureDuration</key>
	<string>pointWithSingleton</string>
	<key>workflowThroughFacade</key>
	<string>heapAlongScope</string>
</dict>
</plist>
