<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveWorkBottom</key>
	<string>errorBridgeVisibility</string>
	<key>delicateConstraintShape</key>
	<string>desktopStoryboardFlags</string>
	<key>sliderAboutFunction</key>
	<string>substantialButtonTop</string>
	<key>stepAdapterDirection</key>
	<string>swiftFromCommand</string>
	<key>unsortedEqualizationType</key>
	<string>gridviewContextSkewx</string>
	<key>webStateMomentum</key>
	<string>priorDecorationSpeed</string>
</dict>
</plist>
