<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lazyThreadVisibility</key>
	<string>immediateLabelSpeed</string>
	<key>mediaKindCount</key>
	<string>activeResponseSpacing</string>
	<key>mobxVariableAppearance</key>
	<string>particleTierDepth</string>
</dict>
</plist>
