<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellSinceStyle</key>
	<string>primaryEqualizationTint</string>
	<key>composableEffectSize</key>
	<string>materialEffectVisibility</string>
	<key>delicateCurveContrast</key>
	<string>coordinatorAboutProxy</string>
	<key>easyLoopInset</key>
	<string>serviceOrScope</string>
	<key>materialAnimationInset</key>
	<string>scaleAtAdapter</string>
	<key>mediaqueryChainScale</key>
	<string>promiseOrVariable</string>
	<key>resourceLikePlatform</key>
	<string>sophisticatedCatalystFormat</string>
	<key>seamlessEffectFrequency</key>
	<string>cupertinoPageviewRate</string>
	<key>statefulAndScope</key>
	<string>storageInsideProcess</string>
	<key>timerAndSystem</key>
	<string>largeParticleRate</string>
</dict>
</plist>
