<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertBeyondPhase</key>
	<string>instructionSinceFunction</string>
	<key>descriptorForStyle</key>
	<string>statefulEntropyName</string>
	<key>signCommandStyle</key>
	<string>reducerContextResponse</string>
	<key>sineAsMemento</key>
	<string>layerStructureScale</string>
</dict>
</plist>
