<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnBeyondLayer</key>
	<string>constCallbackSkewy</string>
	<key>explicitRouteName</key>
	<string>threadFromFramework</string>
	<key>intensityAsFramework</key>
	<string>completerShapeType</string>
	<key>invisibleTouchVisibility</key>
	<string>grainDuringSingleton</string>
	<key>requestExceptShape</key>
	<string>independentTransitionPressure</string>
	<key>resourceWithoutStructure</key>
	<string>spriteAdapterShade</string>
	<key>tabviewKindState</key>
	<string>curveVersusPrototype</string>
</dict>
</plist>
