<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTweenRotation</key>
	<string>bufferActionName</string>
	<key>animatedCursorBound</key>
	<string>responseActionFeedback</string>
	<key>builderAboutState</key>
	<string>delegateExceptPhase</string>
	<key>criticalMatrixTension</key>
	<string>lazyTitleDelay</string>
	<key>mapOutsideScope</key>
	<string>configurationLikeCycle</string>
	<key>navigatorForStructure</key>
	<string>fusedDecorationIndex</string>
	<key>serviceJobBorder</key>
	<string>primaryTextureRate</string>
	<key>storageStateAlignment</key>
	<string>dedicatedAllocatorMargin</string>
	<key>tangentMethodSkewx</key>
	<string>originalPresenterRight</string>
	<key>threadStrategyLeft</key>
	<string>effectForAction</string>
</dict>
</plist>
