<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAgainstLayer</key>
	<string>mobileFunctionTint</string>
	<key>alphaInMediator</key>
	<string>retainedObserverAcceleration</string>
	<key>criticalSpecifierRotation</key>
	<string>descriptionFromShape</string>
	<key>cursorPhaseStyle</key>
	<string>canvasPhaseStyle</string>
	<key>hardMovementBorder</key>
	<string>deferredMomentumSpacing</string>
	<key>pageviewThanMemento</key>
	<string>persistentBuilderBorder</string>
	<key>sinkStageRate</key>
	<string>hyperbolicInjectionFlags</string>
	<key>uniformPlaybackShade</key>
	<string>basicBlocMode</string>
</dict>
</plist>
