<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentBridgeCount</key>
	<string>hardMaterialResponse</string>
	<key>behaviorThanChain</key>
	<string>transformerInterpreterHue</string>
	<key>collectionCommandDensity</key>
	<string>overlayOrPhase</string>
	<key>intermediateTweenTheme</key>
	<string>durationAtLayer</string>
	<key>localCommandInterval</key>
	<string>spriteInsideMode</string>
	<key>resourcePatternDepth</key>
	<string>featureFormAcceleration</string>
	<key>taskKindOpacity</key>
	<string>missionDespiteProcess</string>
	<key>textPerShape</key>
	<string>associatedLayoutDelay</string>
</dict>
</plist>
