<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectDuringWork</key>
	<string>diffableGridTint</string>
	<key>compositionBesideProcess</key>
	<string>dialogsMementoCoord</string>
	<key>curvePlatformAlignment</key>
	<string>euclideanAsyncFlags</string>
	<key>requestParamOffset</key>
	<string>dynamicRichtextAppearance</string>
	<key>tangentBesideLayer</key>
	<string>lossThroughKind</string>
	<key>zoneInsideValue</key>
	<string>bulletBufferSize</string>
</dict>
</plist>
