<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteRichtextDirection</key>
	<string>sizedboxFacadeOpacity</string>
	<key>decorationPlatformStyle</key>
	<string>disabledDropdownbuttonTension</string>
	<key>pageviewDuringInterpreter</key>
	<string>appbarParameterName</string>
	<key>tappableNavigatorAppearance</key>
	<string>pinchableLocalizationFlags</string>
	<key>uniqueCatalystResponse</key>
	<string>invisibleStepAcceleration</string>
</dict>
</plist>
