<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesBesideComposite</key>
	<string>switchVarDensity</string>
	<key>chapterCycleDirection</key>
	<string>nextCoordinatorOrigin</string>
	<key>finalRepositoryFrequency</key>
	<string>lostTabviewFlags</string>
	<key>graphFormDistance</key>
	<string>actionInParameter</string>
	<key>inheritedGrainShape</key>
	<string>entityWithoutParam</string>
	<key>mobileRichtextDistance</key>
	<string>equipmentLevelStyle</string>
	<key>publicOptimizerSpeed</key>
	<string>logFunctionDuration</string>
	<key>significantSemanticsKind</key>
	<string>screenLikeState</string>
</dict>
</plist>
