<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAlongInterpreter</key>
	<string>uniformBlocFormat</string>
	<key>concurrentAxisTint</key>
	<string>viewUntilCycle</string>
	<key>consultativeContainerStyle</key>
	<string>cartesianLoopBorder</string>
	<key>geometricRouterLeft</key>
	<string>fusedResponseAppearance</string>
	<key>loopOutsideInterpreter</key>
	<string>accessibleEffectTop</string>
	<key>modulusInParam</key>
	<string>queryAdapterDistance</string>
	<key>queueMediatorInset</key>
	<string>mapAroundComposite</string>
	<key>resultTempleSpeed</key>
	<string>unactivatedCompleterTint</string>
	<key>tangentActivitySpacing</key>
	<string>appbarSystemLeft</string>
</dict>
</plist>
