<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexValueBrightness</key>
	<string>consumerWithoutPrototype</string>
	<key>localMetadataContrast</key>
	<string>resourceDuringPlatform</string>
	<key>loopFlyweightLeft</key>
	<string>requiredExponentEdge</string>
	<key>sineInterpreterVisibility</key>
	<string>euclideanActionType</string>
</dict>
</plist>
