<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerTop</key>
	<string>tensorModalFlags</string>
	<key>granularStampOpacity</key>
	<string>singleInjectionContrast</string>
	<key>promiseStructureHead</key>
	<string>staticUtilEdge</string>
	<key>protocolValueForce</key>
	<string>eventAndAction</string>
	<key>publicButtonBehavior</key>
	<string>playbackDecoratorPadding</string>
	<key>sortedScaleDelay</key>
	<string>queryScopeCoord</string>
	<key>spriteAboutBridge</key>
	<string>dependencyProxyMargin</string>
	<key>textureAwayBuffer</key>
	<string>allocatorTierCoord</string>
</dict>
</plist>
