<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityInChain</key>
	<string>screenParamMargin</string>
	<key>pinchableDimensionInterval</key>
	<string>tabviewAmongProxy</string>
	<key>prismaticContainerShape</key>
	<string>gridSingletonHead</string>
	<key>slashVarTop</key>
	<string>alphaFrameworkDelay</string>
	<key>subtleFlexBehavior</key>
	<string>decorationFrameworkTag</string>
</dict>
</plist>
