<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentProgressbarName</key>
	<string>basicCurveMode</string>
	<key>durationAdapterDepth</key>
	<string>labelPatternShade</string>
	<key>imperativeCacheContrast</key>
	<string>nodeMementoColor</string>
	<key>injectionFunctionRight</key>
	<string>hashObserverPosition</string>
	<key>keyGridviewDepth</key>
	<string>invisibleFragmentSize</string>
	<key>lostErrorState</key>
	<string>decorationShapeSpeed</string>
	<key>masterMethodVisibility</key>
	<string>touchBesideChain</string>
	<key>progressbarFrameworkAppearance</key>
	<string>crudeGridviewBottom</string>
</dict>
</plist>
