<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableBrushFormat</key>
	<string>lostResponseSkewy</string>
	<key>configurationFrameworkDelay</key>
	<string>resultInPrototype</string>
	<key>desktopGridSpacing</key>
	<string>iconMediatorName</string>
	<key>directCellRight</key>
	<string>specifierAroundTemple</string>
	<key>finalQueryResponse</key>
	<string>relationalCollectionBehavior</string>
	<key>interpolationFromContext</key>
	<string>configurationObserverOrigin</string>
	<key>popupVariableSaturation</key>
	<string>checkboxOrPattern</string>
	<key>resolverVariableTop</key>
	<string>configurationBufferFrequency</string>
	<key>sliderAdapterFlags</key>
	<string>easyNavigatorRate</string>
	<key>widgetLikeObserver</key>
	<string>blocStageSpeed</string>
</dict>
</plist>
