<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelScopeDelay</key>
	<string>modalParamType</string>
	<key>easySegmentType</key>
	<string>temporaryPlateBehavior</string>
	<key>explicitProgressbarResponse</key>
	<string>textFlyweightOffset</string>
	<key>modulusPhaseMode</key>
	<string>standaloneCertificateDelay</string>
	<key>precisionStrategyAppearance</key>
	<string>controllerFlyweightForce</string>
	<key>scaffoldPlatformInset</key>
	<string>constraintVariableSkewx</string>
	<key>sceneExceptOperation</key>
	<string>animationInFunction</string>
	<key>sizeExceptWork</key>
	<string>bufferDecoratorName</string>
	<key>tappableDependencyMargin</key>
	<string>stampAgainstBridge</string>
</dict>
</plist>
