<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocTempleForce</key>
	<string>listenerViaParameter</string>
	<key>bufferJobTheme</key>
	<string>isolateExceptMode</string>
	<key>composableLogarithmStatus</key>
	<string>routerPatternOrigin</string>
	<key>denseProviderTheme</key>
	<string>instructionActivityFrequency</string>
	<key>prismaticLogPressure</key>
	<string>containerOutsideEnvironment</string>
	<key>serviceAsProcess</key>
	<string>remainderLikeVisitor</string>
	<key>similarTransitionDistance</key>
	<string>nativePromiseStatus</string>
	<key>uniformSpotMode</key>
	<string>movementInterpreterIndex</string>
	<key>unsortedIsolateOrigin</key>
	<string>roleFromStrategy</string>
</dict>
</plist>
