<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCurveAcceleration</key>
	<string>normalAsyncLeft</string>
	<key>aspectDespiteLayer</key>
	<string>otherExtensionDuration</string>
	<key>beginnerFrameBound</key>
	<string>resizableSpotPressure</string>
	<key>coordinatorShapeSpacing</key>
	<string>profileFacadeType</string>
	<key>disparateInjectionTint</key>
	<string>monsterFacadeSpeed</string>
	<key>fusedMarginMode</key>
	<string>independentSceneDepth</string>
	<key>gesturedetectorOperationTail</key>
	<string>menuKindIndex</string>
	<key>screenDespiteContext</key>
	<string>hashVersusShape</string>
	<key>subtleExpandedTail</key>
	<string>durationBridgePadding</string>
	<key>tickerDespitePlatform</key>
	<string>intensityActivitySkewy</string>
</dict>
</plist>
