<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonMobileInteraction</key>
	<string>cupertinoContainMode</string>
	<key>criticalDescriptionMomentum</key>
	<string>autoProviderType</string>
	<key>handlerBridgeSkewx</key>
	<string>textureFromFlyweight</string>
	<key>resolverLikeParam</key>
	<string>statelessFeatureTheme</string>
	<key>responsiveSizeDuration</key>
	<string>anchorTempleDuration</string>
	<key>scrollLayerMargin</key>
	<string>overlayAgainstPhase</string>
	<key>singlePreviewDelay</key>
	<string>ternaryStyleTension</string>
	<key>tableModeIndex</key>
	<string>timerPlatformAppearance</string>
	<key>taskModeOpacity</key>
	<string>canvasPerStage</string>
	<key>tweenAsAction</key>
	<string>animationPlatformStyle</string>
</dict>
</plist>
