<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStepShape</key>
	<string>decorationActionFormat</string>
	<key>decorationActionAcceleration</key>
	<string>unsortedInterpolationDensity</string>
	<key>indicatorInsideVisitor</key>
	<string>sliderOutsideMode</string>
	<key>keyConfigurationPadding</key>
	<string>tickerStrategyShape</string>
	<key>mobxWorkMode</key>
	<string>positionedTempleTransparency</string>
	<key>publicPreviewFlags</key>
	<string>loopThanVisitor</string>
	<key>queryAlongParam</key>
	<string>publicResourceTheme</string>
	<key>smallDelegateVelocity</key>
	<string>boxshadowObserverTransparency</string>
	<key>uniqueDelegateKind</key>
	<string>sophisticatedGrainResponse</string>
</dict>
</plist>
