<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorCycleScale</key>
	<string>cellLayerDelay</string>
	<key>featureThanType</key>
	<string>responsiveBlocInset</string>
	<key>inheritedSineAcceleration</key>
	<string>scaffoldLikeVisitor</string>
	<key>largeTickerScale</key>
	<string>explicitPopupBorder</string>
	<key>notifierFlyweightFormat</key>
	<string>consultativeUtilKind</string>
	<key>pointActivitySpacing</key>
	<string>visibleConstraintTheme</string>
	<key>widgetVariableSkewy</key>
	<string>durationFromValue</string>
</dict>
</plist>
