<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSizeVisible</key>
	<string>sharedContainerEdge</string>
	<key>backwardPresenterMomentum</key>
	<string>gridBesideOperation</string>
	<key>radiusIncludeKind</key>
	<string>opaqueErrorCenter</string>
	<key>sceneSingletonOffset</key>
	<string>sampleStructureType</string>
</dict>
</plist>
