<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryVersusForm</key>
	<string>gateProcessDensity</string>
	<key>scaffoldTempleFeedback</key>
	<string>chartIncludeStrategy</string>
	<key>sustainableLogCoord</key>
	<string>layoutAboutVar</string>
</dict>
</plist>
