<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVarTop</key>
	<string>futureAwayMediator</string>
	<key>declarativeAwaitTransparency</key>
	<string>characterSinceTier</string>
	<key>groupScopeTail</key>
	<string>optionChainInteraction</string>
	<key>routeVersusFacade</key>
	<string>reusableStepSkewx</string>
	<key>rowAwayBridge</key>
	<string>crudeSubscriptionScale</string>
	<key>scaleInKind</key>
	<string>unactivatedStoreEdge</string>
	<key>subscriptionStrategyInset</key>
	<string>materialFromVisitor</string>
</dict>
</plist>
