<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarSingletonInteraction</key>
	<string>controllerWorkSkewy</string>
	<key>blocExceptInterpreter</key>
	<string>multiPositionSpacing</string>
	<key>exponentContextTop</key>
	<string>priorSinkAppearance</string>
	<key>finalCaptionBrightness</key>
	<string>giftPrototypeHead</string>
	<key>gradientContextPosition</key>
	<string>subtleMatrixRotation</string>
	<key>sharedAlignmentScale</key>
	<string>tickerAlongPrototype</string>
	<key>sinkModeResponse</key>
	<string>channelAtVisitor</string>
	<key>threadAdapterDepth</key>
	<string>entropyPhaseDelay</string>
	<key>utilVarKind</key>
	<string>tickerActionFlags</string>
</dict>
</plist>
