<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInjectionScale</key>
	<string>optionInsideAction</string>
	<key>groupCommandOrigin</key>
	<string>flexibleInjectionDistance</string>
	<key>lazyPrecisionRate</key>
	<string>asynchronousTextureCoord</string>
	<key>particlePrototypeSkewy</key>
	<string>sortedBaselineRotation</string>
	<key>providerThroughStyle</key>
	<string>composableEquipmentMode</string>
	<key>subsequentPageviewBrightness</key>
	<string>ternaryAgainstChain</string>
	<key>techniqueCompositeColor</key>
	<string>consultativeResourceVisibility</string>
</dict>
</plist>
