<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionBesideWork</key>
	<string>certificateOutsideFlyweight</string>
	<key>cursorAboutProxy</key>
	<string>accessibleMatrixDuration</string>
	<key>responseMediatorName</key>
	<string>associatedDelegateSize</string>
	<key>skirtOperationAppearance</key>
	<string>synchronousTaskStyle</string>
</dict>
</plist>
