<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStateDepth</key>
	<string>descriptorMethodScale</string>
	<key>challengeActivityValidation</key>
	<string>themeUntilTask</string>
	<key>enabledIntensityTension</key>
	<string>retainedSpineSpeed</string>
	<key>enabledKernelOpacity</key>
	<string>transitionPhaseKind</string>
	<key>interfaceActionResponse</key>
	<string>optimizerValueVisible</string>
	<key>previewModeTension</key>
	<string>activityLikeNumber</string>
</dict>
</plist>
