<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFutureVisibility</key>
	<string>diffablePopupBound</string>
	<key>asynchronousQueueMargin</key>
	<string>fusedStreamBehavior</string>
	<key>backwardPromiseHue</key>
	<string>bitrateAgainstOperation</string>
	<key>basicGiftMargin</key>
	<string>oldRiverpodOrientation</string>
	<key>collectionLevelOrigin</key>
	<string>shaderActivityBottom</string>
	<key>dedicatedRouterTail</key>
	<string>ephemeralExtensionTheme</string>
	<key>discardedLocalizationValidation</key>
	<string>textureContextPadding</string>
	<key>gesturedetectorVisitorSkewy</key>
	<string>observerSystemValidation</string>
	<key>gridviewLayerBrightness</key>
	<string>viewInsideTier</string>
	<key>notificationMethodForce</key>
	<string>documentPrototypeInteraction</string>
</dict>
</plist>
