<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsVarPressure</key>
	<string>specifyButtonAcceleration</string>
	<key>granularGroupTag</key>
	<string>staticRequestPosition</string>
	<key>indicatorBufferScale</key>
	<string>viewLikeTemple</string>
	<key>responsiveButtonStatus</key>
	<string>scaleNearFramework</string>
	<key>sophisticatedIntensityLocation</key>
	<string>clipperBufferPressure</string>
</dict>
</plist>
