<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianButtonBorder</key>
	<string>previewLevelLeft</string>
	<key>consultativeErrorSaturation</key>
	<string>resultFacadeAlignment</string>
	<key>coordinatorParameterDepth</key>
	<string>promiseProcessSkewx</string>
	<key>dropdownbuttonStrategyDepth</key>
	<string>grainFlyweightOffset</string>
	<key>interfaceLikeKind</key>
	<string>cubeOfCommand</string>
	<key>queryThanMethod</key>
	<string>injectionVariableDirection</string>
	<key>scrollableCupertinoOrigin</key>
	<string>imperativeResolverOrientation</string>
</dict>
</plist>
