<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAsParam</key>
	<string>numericalCubitTail</string>
	<key>decorationFromPrototype</key>
	<string>featureJobTheme</string>
	<key>firstTickerBrightness</key>
	<string>gridDespiteSingleton</string>
	<key>grayscaleBeyondFunction</key>
	<string>sinkParameterHead</string>
	<key>offsetNearFunction</key>
	<string>blocAmongLayer</string>
	<key>resizableTabviewDuration</key>
	<string>textureMementoBorder</string>
</dict>
</plist>
