<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDrawerBottom</key>
	<string>transformerSinceChain</string>
	<key>baseByStage</key>
	<string>groupMementoTag</string>
	<key>factoryWithProcess</key>
	<string>methodObserverFeedback</string>
	<key>localizationInterpreterAcceleration</key>
	<string>intensityWithMemento</string>
	<key>positionShapeFrequency</key>
	<string>missedSensorEdge</string>
	<key>providerShapeVelocity</key>
	<string>allocatorPatternSpacing</string>
	<key>sliderAroundBuffer</key>
	<string>publicMemberIndex</string>
</dict>
</plist>
