<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constPointVisibility</key>
	<string>utilAmongCycle</string>
	<key>descriptionPatternBehavior</key>
	<string>taskAndMediator</string>
	<key>difficultTimerRate</key>
	<string>ignoredCoordinatorBorder</string>
	<key>ignoredBinaryPadding</key>
	<string>methodActivityTransparency</string>
	<key>interfaceFlyweightPosition</key>
	<string>fusedUtilName</string>
	<key>lastNotifierPadding</key>
	<string>drawerAsComposite</string>
	<key>navigationLikeObserver</key>
	<string>agileAnimationFormat</string>
	<key>newestGraphicTension</key>
	<string>queryScopeLocation</string>
	<key>textureProxyVisibility</key>
	<string>allocatorTierBrightness</string>
	<key>titleAroundFacade</key>
	<string>sequentialSemanticsSpacing</string>
</dict>
</plist>
