<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStateTransparency</key>
	<string>coordinatorInterpreterFormat</string>
	<key>compositionalTaskTint</key>
	<string>geometricControllerSpacing</string>
	<key>consultativeListviewRight</key>
	<string>transformerOrContext</string>
	<key>lostPopupDistance</key>
	<string>utilFunctionSkewy</string>
	<key>menuNearObserver</key>
	<string>roleOperationRotation</string>
</dict>
</plist>
