<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarBesideChain</key>
	<string>unaryCycleName</string>
	<key>callbackAtTemple</key>
	<string>containerAlongFacade</string>
	<key>columnPrototypeLocation</key>
	<string>cupertinoAboutFramework</string>
	<key>commandThroughVisitor</key>
	<string>previewAroundEnvironment</string>
	<key>constraintByLevel</key>
	<string>criticalUsageOffset</string>
	<key>indicatorOfStage</key>
	<string>mainDropdownbuttonStyle</string>
	<key>prismaticToolFormat</key>
	<string>spriteDespiteForm</string>
	<key>resilientDurationTail</key>
	<string>storyboardAtMemento</string>
	<key>spriteFormVisibility</key>
	<string>heapCommandTop</string>
	<key>themeOutsideParameter</key>
	<string>particleAsVisitor</string>
</dict>
</plist>
