<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilePositionSaturation</key>
	<string>movementTemplePadding</string>
	<key>allocatorBesideJob</key>
	<string>prevMethodDuration</string>
	<key>groupSingletonDelay</key>
	<string>musicBesideCommand</string>
	<key>providerBesideJob</key>
	<string>sustainableCubitTransparency</string>
	<key>sharedGesturedetectorPadding</key>
	<string>layerTaskHead</string>
</dict>
</plist>
