<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticReferenceBound</key>
	<string>cartesianStatelessInset</string>
	<key>hashByParameter</key>
	<string>easySubscriptionLeft</string>
	<key>keyConvolutionCenter</key>
	<string>actionWorkDistance</string>
	<key>protocolBufferStatus</key>
	<string>rowTaskBehavior</string>
	<key>techniqueViaLevel</key>
	<string>reactiveCubeFrequency</string>
</dict>
</plist>
