<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticRowOffset</key>
	<string>clipperAwayCycle</string>
	<key>asynchronousCacheAcceleration</key>
	<string>diversifiedArithmeticBound</string>
	<key>graphAsStage</key>
	<string>disabledAssetMode</string>
	<key>retainedBatchRotation</key>
	<string>arithmeticTaskAlignment</string>
	<key>textPatternFlags</key>
	<string>lostLayerHead</string>
</dict>
</plist>
