<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackSinceSingleton</key>
	<string>heapWithLayer</string>
	<key>histogramAroundPlatform</key>
	<string>usageWithProcess</string>
	<key>streamObserverStyle</key>
	<string>comprehensiveQueryLocation</string>
</dict>
</plist>
