<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaModeCenter</key>
	<string>animatedSpecifierLocation</string>
	<key>documentStateMargin</key>
	<string>groupScopeBorder</string>
	<key>effectVarBottom</key>
	<string>getxStateSkewy</string>
	<key>independentColumnInterval</key>
	<string>normViaTask</string>
	<key>interactorNumberMomentum</key>
	<string>rowFunctionTension</string>
	<key>localFragmentFormat</key>
	<string>fusedLoopFeedback</string>
	<key>responsivePreviewBottom</key>
	<string>easyLossName</string>
	<key>seamlessOffsetOrigin</key>
	<string>promiseSingletonAppearance</string>
</dict>
</plist>
