<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredCertificateStatus</key>
	<string>transformerTempleLeft</string>
	<key>easyCacheSkewx</key>
	<string>beginnerBulletTheme</string>
	<key>localAnimationShape</key>
	<string>methodAsTemple</string>
	<key>notificationAboutStage</key>
	<string>subsequentBaselineSpeed</string>
	<key>spotAroundForm</key>
	<string>taskPrototypeMode</string>
	<key>statelessVariantTop</key>
	<string>petParamOffset</string>
	<key>tabviewLevelTint</key>
	<string>ternaryBeyondProxy</string>
	<key>unaryOfOperation</key>
	<string>navigatorPhaseAcceleration</string>
</dict>
</plist>
