<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianStoreTension</key>
	<string>interactiveSpecifierSize</string>
	<key>cubitByStrategy</key>
	<string>builderTaskHue</string>
	<key>iconStructureVisibility</key>
	<string>sequentialTaskShape</string>
	<key>independentResourceTheme</key>
	<string>scrollableDelegateInteraction</string>
	<key>resilientUsecaseLeft</key>
	<string>eagerPreviewContrast</string>
	<key>subtleStorageLocation</key>
	<string>inkwellDuringAdapter</string>
</dict>
</plist>
