<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBufferDistance</key>
	<string>functionalPositionedShade</string>
	<key>checklistAgainstStage</key>
	<string>menuFrameworkFrequency</string>
	<key>comprehensiveLogForce</key>
	<string>geometricConstraintSize</string>
	<key>cosineBridgeName</key>
	<string>permissiveRouteMode</string>
	<key>interfaceAboutPhase</key>
	<string>pointChainRotation</string>
	<key>routeOutsideDecorator</key>
	<string>cacheLevelState</string>
	<key>scrollSingletonInterval</key>
	<string>basicNavigatorStyle</string>
	<key>sliderOutsideParam</key>
	<string>contractionPerType</string>
	<key>spineForKind</key>
	<string>advancedConstraintBottom</string>
	<key>symmetricPetPadding</key>
	<string>accessibleBitrateForce</string>
</dict>
</plist>
