<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPrototypeDirection</key>
	<string>discardedDrawerFlags</string>
	<key>builderFacadeIndex</key>
	<string>significantTextureInset</string>
	<key>factoryThanSystem</key>
	<string>subsequentMediaqueryShade</string>
	<key>menuFormFlags</key>
	<string>nativeCosineDensity</string>
	<key>movementBridgeVelocity</key>
	<string>blocAroundTier</string>
	<key>scaffoldPlatformTail</key>
	<string>diversifiedGraphIndex</string>
	<key>sequentialPriorityContrast</key>
	<string>textNearCycle</string>
	<key>textfieldActivityState</key>
	<string>globalStateTint</string>
</dict>
</plist>
