<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonSinceVar</key>
	<string>instructionActionBrightness</string>
	<key>commandFlyweightFlags</key>
	<string>inkwellFacadeSaturation</string>
	<key>hyperbolicPriorityForce</key>
	<string>immediateAccessoryShape</string>
	<key>logarithmAmongBridge</key>
	<string>advancedGridRate</string>
	<key>requestAwayAction</key>
	<string>richtextAboutSystem</string>
	<key>sceneMethodAppearance</key>
	<string>extensionLikeCycle</string>
	<key>stateValueDirection</key>
	<string>curveDespiteType</string>
	<key>vectorFlyweightHue</key>
	<string>entityAsSingleton</string>
</dict>
</plist>
