<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorLayerTheme</key>
	<string>mutableProgressbarPressure</string>
	<key>aspectEnvironmentBehavior</key>
	<string>stepCommandScale</string>
	<key>certificateBesideState</key>
	<string>customizedCoordinatorKind</string>
	<key>chartFrameworkTail</key>
	<string>sizeAboutPlatform</string>
	<key>multiTextCoord</key>
	<string>skirtAboutPhase</string>
</dict>
</plist>
