<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerVisitorTop</key>
	<string>switchInterpreterVisibility</string>
	<key>constraintCompositeDuration</key>
	<string>labelWorkDirection</string>
	<key>handlerUntilProxy</key>
	<string>uniformLocalizationRotation</string>
	<key>multiSlashAcceleration</key>
	<string>streamNumberTop</string>
	<key>requestLikePlatform</key>
	<string>stepActionLocation</string>
	<key>sequentialRemainderFrequency</key>
	<string>singletonProxyRotation</string>
	<key>storyboardTaskDirection</key>
	<string>positionedDespiteStyle</string>
</dict>
</plist>
