<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAboutShape</key>
	<string>resilientCompleterState</string>
	<key>concreteMediaDuration</key>
	<string>sceneBufferStyle</string>
	<key>constraintBufferCenter</key>
	<string>serviceValueTension</string>
	<key>gramInsideStructure</key>
	<string>symmetricFutureContrast</string>
	<key>playbackOrInterpreter</key>
	<string>textForValue</string>
	<key>profileAdapterSpeed</key>
	<string>histogramInterpreterBound</string>
	<key>remainderActivityStyle</key>
	<string>timerAroundActivity</string>
	<key>repositoryNearVisitor</key>
	<string>notifierAdapterTransparency</string>
	<key>sessionStateShade</key>
	<string>concurrentChannelSkewy</string>
</dict>
</plist>
