<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledEqualizationHue</key>
	<string>retainedMapKind</string>
	<key>histogramBeyondStyle</key>
	<string>chapterTaskTransparency</string>
	<key>interpolationFlyweightMomentum</key>
	<string>semanticRequestType</string>
	<key>isolateProxyTail</key>
	<string>standaloneMovementRight</string>
	<key>listenerActivityStyle</key>
	<string>responsiveTopicRight</string>
	<key>managerVisitorValidation</key>
	<string>referenceAroundFlyweight</string>
	<key>profileInParameter</key>
	<string>layoutPlatformTag</string>
	<key>sortedAllocatorResponse</key>
	<string>prismaticCubeTransparency</string>
</dict>
</plist>
