<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopParticleType</key>
	<string>concreteMarginMomentum</string>
	<key>finalGroupTag</key>
	<string>smallConstraintLeft</string>
	<key>fragmentAwayValue</key>
	<string>parallelMemberAcceleration</string>
	<key>functionalFeatureScale</key>
	<string>reusableButtonTheme</string>
	<key>referenceActivityVisibility</key>
	<string>usecaseContainCommand</string>
	<key>streamNearPrototype</key>
	<string>seamlessRectStatus</string>
	<key>swiftOutsideMediator</key>
	<string>labelNearStage</string>
</dict>
</plist>
