<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarTierCount</key>
	<string>backwardBlocDirection</string>
	<key>buttonFlyweightOrigin</key>
	<string>aspectWithChain</string>
	<key>cubeFacadeBrightness</key>
	<string>frameTaskBehavior</string>
	<key>descriptorViaLayer</key>
	<string>mutableStoreScale</string>
	<key>equipmentCycleColor</key>
	<string>textExceptMethod</string>
	<key>petActionKind</key>
	<string>delegateLevelBrightness</string>
	<key>storeThroughActivity</key>
	<string>queryShapeRate</string>
</dict>
</plist>
