<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeIconHead</key>
	<string>commandTaskFrequency</string>
	<key>diversifiedAspectratioTail</key>
	<string>mediaqueryDecoratorLeft</string>
	<key>ignoredCapacitiesShape</key>
	<string>coordinatorFrameworkInterval</string>
	<key>intensityBesideComposite</key>
	<string>statelessUntilPrototype</string>
	<key>keyCurveInteraction</key>
	<string>batchBridgeIndex</string>
	<key>responsiveMetadataContrast</key>
	<string>directButtonBehavior</string>
	<key>robustLayerKind</key>
	<string>giftMementoDistance</string>
</dict>
</plist>
