<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAroundVar</key>
	<string>accessibleInteractorSpeed</string>
	<key>histogramLikeForm</key>
	<string>awaitAroundComposite</string>
	<key>materialProjectionForce</key>
	<string>persistentProjectTag</string>
	<key>stateMementoMargin</key>
	<string>rectAtKind</string>
	<key>tappableTaskOpacity</key>
	<string>draggableCharacterMargin</string>
	<key>topicOrVar</key>
	<string>originalIntegerEdge</string>
	<key>tweenAgainstTemple</key>
	<string>tweenCompositeFrequency</string>
</dict>
</plist>
