<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetJobDuration</key>
	<string>transformerJobFlags</string>
	<key>asyncRadiusPadding</key>
	<string>synchronousLocalizationSkewy</string>
	<key>binaryAlongTask</key>
	<string>bitrateBufferColor</string>
	<key>constBrushDistance</key>
	<string>disparateTangentInteraction</string>
	<key>declarativeSwitchFrequency</key>
	<string>chapterFunctionDepth</string>
	<key>hardAllocatorBottom</key>
	<string>diffableProgressbarTheme</string>
	<key>methodThroughActivity</key>
	<string>retainedDocumentSpacing</string>
	<key>webTitleDensity</key>
	<string>sustainableBehaviorDirection</string>
</dict>
</plist>
