<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicHandlerType</key>
	<string>musicCycleRotation</string>
	<key>delicateMediaCoord</key>
	<string>resultWithoutTask</string>
	<key>sequentialOptimizerBrightness</key>
	<string>errorStateInset</string>
	<key>skirtBridgeLocation</key>
	<string>mapMediatorContrast</string>
</dict>
</plist>
