<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTabviewOpacity</key>
	<string>cacheDespitePrototype</string>
	<key>constraintStrategyState</key>
	<string>radioAgainstValue</string>
	<key>featureBesideStyle</key>
	<string>customizedEntityMomentum</string>
	<key>modulusWorkMargin</key>
	<string>inactiveDependencyTag</string>
	<key>statefulHashTint</key>
	<string>entityFlyweightType</string>
</dict>
</plist>
