<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonWithoutParam</key>
	<string>alignmentInsideTask</string>
	<key>concurrentCatalystValidation</key>
	<string>mediaActionHead</string>
	<key>difficultExpandedVisibility</key>
	<string>storeBridgeSize</string>
	<key>requestThroughProcess</key>
	<string>otherHandlerBrightness</string>
	<key>serviceAlongVisitor</key>
	<string>activityAboutTemple</string>
	<key>usecaseProcessCount</key>
	<string>subscriptionTierHead</string>
</dict>
</plist>
