<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMethodSpeed</key>
	<string>expandedJobVisible</string>
	<key>compositionAroundEnvironment</key>
	<string>customCompleterMode</string>
	<key>oldGemLeft</key>
	<string>effectTypeResponse</string>
	<key>rowShapeRight</key>
	<string>diffableLayoutOrientation</string>
	<key>viewValueHead</key>
	<string>sliderObserverTheme</string>
</dict>
</plist>
