<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityDecoratorDelay</key>
	<string>radioAgainstPhase</string>
	<key>monsterFlyweightRate</key>
	<string>arithmeticBridgeCoord</string>
	<key>rectLikeMediator</key>
	<string>singletonFunctionShade</string>
	<key>reductionAmongComposite</key>
	<string>visibleCanvasOpacity</string>
</dict>
</plist>
