<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAroundLayer</key>
	<string>callbackVariableSpacing</string>
	<key>crucialMultiplicationTint</key>
	<string>popupBufferHead</string>
	<key>dialogsInsidePlatform</key>
	<string>symmetricDimensionBrightness</string>
	<key>matrixInsideMode</key>
	<string>containerDuringEnvironment</string>
	<key>publicKernelTint</key>
	<string>constraintWorkIndex</string>
	<key>similarBinaryDelay</key>
	<string>histogramThanKind</string>
	<key>staticPresenterOrientation</key>
	<string>futureOperationTop</string>
</dict>
</plist>
